/*
 * shop-gallery-isotope.less
 * -----------------------------------------------
*/
/* box hover effects */
.woocommerce {
	.gallery-isotope {
		&.products {
			.product.box-hover-effect {
				/* effect default */
				&.effect-default {
					.product-details {
						border: 1px solid #eee;
						padding: 15px 20px;
					}
				}


				/* effect standard */
				&.effect-standard {
					.add_to_cart_button {
						background-color: @black-333;
						color: @white-base;
						&:hover {
							background-color: @black-222;
						}
					}
				}

				/* on hover */
				&:hover {
				}
			}
		}
		&.shop-archive {
			.gallery-item {
				padding-left: 0;
			}
		}
	}
}