/*
 * shop-common.less
 * -----------------------------------------------
*/
.woocommerce {
	.product {
		/* Added to Cart Button */
		a.added_to_cart {
			background: #f5f5f5;
			border-radius: 2px;
			color: #333;
			font-size: 11px;
			margin-left: 5px;
			padding: 4px 11px;
			&:hover {
				background-color: #eee;
			}
		}
	}

	/**
	 * Star ratings
	 */
	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1;
		font-size: 1em;
		width: 4.6em;

		&::before {
			content: "\f006\f006\f006\f006\f006";
			color: #d3ced2;
			font-family: fontawesome;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}

		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}

		span::before {
			content: "\f005\f005\f005\f005\f005";
			color: #f9ca63;
			font-family: fontawesome;
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.woocommerce-product-rating {
		.clearfix();
		line-height: 2;
		display: block;

		.star-rating {
			margin: 0.5em 4px 0 0;
			float: left;
		}
	}

	.products .star-rating {
		display: block;
		margin: 0 0 0.5em;
		float: none;
	}

	.hreview-aggregate .star-rating {
		margin: 10px 0 0;
	}

	#review_form #respond {
		.clearfix();
		position: static;
		margin: 0;
		width: auto;
		padding: 0;
		background: transparent none;
		border: 0;

		p {
			margin: 0 0 10px;
		}

		.form-submit input {
			left: auto;
		}

		textarea {
			box-sizing: border-box;
			width: 100%;
		}
	}

	p.stars {
		a {
			color: #d3ced2;
			position: relative;
			height: 1em;
			width: 1em;
			text-indent: -999em;
			display: inline-block;
			text-decoration: none;

			&::before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				line-height: 1;
				font-family: fontawesome;
				content: '\f006';
				text-indent: 0;
			}

			&:hover ~ a {
				color: #d3ced2;
				&::before {
					content: '\f006';
				}
			}
		}

		&:hover a {
			color: #f9ca63;
			&::before {
				content: '\f005';
			}
		}

		&.selected {
			a.active {
				color: #f9ca63;
				&::before {
					content: '\f005';
				}

				~ a {
					color: #d3ced2;
					&::before {
						content: '\f006';
					}
				}
			}

			a:not( .active ) {
				color: #f9ca63;
				&::before {
					content: '\f005';
				}
			}
		}
	}

	.woocommerce-cart-form,
	.cart {
		.quantity {
			.qty, .minus, .plus {
				background: #F7F7F7;
				-moz-appearance: textfield;
				background: #fbfbfb none repeat scroll 0 0;
				border: 1px solid #e4e4e4;
				display: block;
				float: left;
				padding: 3px 10px;
			}
			.minus {
				border-right: 1px solid transparent;
			}
			.plus {
				border-left: 1px solid transparent;
			}
			.qty {
				background: #fff none repeat scroll 0 0;
				text-align: center;
				width: 48px;
			}
		}
	}
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	.button {
		float: right;
	}

	li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 0 !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}
}

/* Sale Badge */
.woocommerce {
	.product {
		
		.onsale {
			position: absolute;
			right: 10px;
			top: 10px;
			background: @black-333;
			text-align: center;
			color: #fff;
			display: block;
			padding: 0 10px;
			text-transform: uppercase;
			z-index: 14;
		}
	}
	&.single-product {
		.product {
			.onsale {
				right: auto;
				left: 25px;
			}
		}
	}
}