/*
 * shop-single.less
 * -----------------------------------------------
*/
.woocommerce {
	div.product {
		.product_title {
			margin-top: 0;
		}
		form.cart {
			.variations {
				margin-bottom: 30px;
				td {
					border: none;
					padding-bottom: 0;
					vertical-align: middle;
					&.variations-label {
						padding-left: 0;
						width: 21%;
					}
				}
				label {
					font-size: @font-size-base;
					font-weight: @body-font-weight;
					text-transform: capitalize;
				}
				.reset_variations {
					font-size: 11px;
					margin-left: 10px;
					text-decoration: none;
				}
			}
			.woocommerce-variation-add-to-cart {
				margin: 25px 0;
			}
			.quantity {
				float: left;
				margin-right: 20px;
			}
		}

		.product_meta {
			.sku_wrapper {
				color: @headings-color;
				display: block;
				.sku {
					color: #999;
				}
			}
			> span {
				color: @headings-color;
				display: block;
				a {
					font-size: 0.90em;
					font-style: italic;
				}
			}
		}

		.woocommerce-product-gallery {
			position: relative;
		}
		&.single-product-image-with-thumb {
			.woocommerce-product-gallery {
				margin-bottom: 3em;

				figure {
					margin: 0;
				}

				.zoomImg {
					background-color: #fff;
				}

				.woocommerce-product-gallery__image {
					&:nth-child(n+2) {
						width: 25%;
						float: left;
					}
					&:not(:first-child) {
						img {
							opacity: .5;
							border-top: 1px solid #fff;
							border-right: 1px solid #fff;
							&:hover {
								opacity: 1;
							}
						}
					}
					&.flex-active-slide {
						img {
							opacity: 1;
						}
					}
				}

				.flex-control-thumbs {
					li {
						list-style: none;
						float: left;
						cursor: pointer;
					}
					img {
						opacity: .5;
						border-top: 1px solid #fff;
						border-right: 1px solid #fff;

						&:hover,
						&.flex-active {
							opacity: 1;
						}
					}

				}

				img {
					display: block;
				}
			}
		}

		&.single-product-plain-image,
		&.single-product-sticky-side-text {
			.woocommerce-product-gallery {
				.woocommerce-product-gallery__image {
					margin-bottom: 10px;
				}
			}
		}


		.woocommerce-product-gallery--columns-3 {
			.flex-control-thumbs li {
				width: 33.3333%;
			}
			.flex-control-thumbs li:nth-child(3n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery--columns-4 {
			.flex-control-thumbs li {
				width: 25%;
			}
			.flex-control-thumbs li:nth-child(4n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery--columns-5 {
			.flex-control-thumbs li {
				width: 20%;
			}
			.flex-control-thumbs li:nth-child(5n+1) {
				clear: left;
			}
		}

		.woocommerce-product-gallery__trigger {
			background: rgba(255, 255, 255, 0.7);
			box-sizing: content-box;
			height: 36px;
			position: absolute;
			right: 10px;
			text-indent: -9999px;
			top: 10px;
			width: 36px;
			z-index: 10;				
			&:hover {
				background: rgba(255, 255, 255, .6);
			}
			&:before {
				border: 2px solid #333;
				border-radius: 100%;
				box-sizing: content-box;
				content: "";
				display: block;
				height: 10px;
				left: 10px;
				position: absolute;
				top: 10px;
				width: 10px;
			}
			&:after {
				background: #333;
				border-radius: 6px;
				box-sizing: content-box;
				content: "";
				display: block;
				height: 10px;
				left: 23px;
				position: absolute;
				top: 19px;
				.rotate(-45deg);
				width: 2px;
			}
		}
		
		.woocommerce-tabs {
			clear: both;
			padding-top: 30px;
			.nav-tabs {
				border-bottom: 1px solid #eee;
				li {
					&.active {
						a,
						a:hover,
						a:focus {
							background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
							border-color: transparent transparent #1296cc;
							border-width: 2px;
							color: #1296cc;
						}			
					}

					> a {
						border: 2px solid transparent;
						font-weight: 600;
						height: 36px;
						margin-right: 16px;
						padding: 0;
						.fa {
							margin-right: 10px;
						}

						&:hover,
						&:focus {
							border: 2px solid transparent;
							color: #1296cc;
						}
					}
				}
			}
			.tab-content {
				padding-bottom: 0;
				padding-left: 0;
				border: 1px solid transparent;
				.tab-pane {
					margin-bottom: 0;
					box-shadow: none;
				}
			}
			.woocommerce-Reviews {
				.woocommerce-Reviews-title {
					font-size: 18px;
					padding-bottom: 15px;
				}
				.comment-list {
					list-style: outside none none;
					margin-bottom: 10px;
					padding-bottom: 10px;
					.comment {
						border-bottom: 1px solid #eee;
						margin-bottom: 20px;
						padding-bottom: 15px;
						.meta {
							font-size: 13px;
							margin-bottom: 0;
							.woocommerce-review__author {
								color: #333;
							}
						}
					}
				}
				#review_form {
					.comment-respond {
						.comment-reply-title {
							color: #333;
							font-size: 16px;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}

