/*
 * shop-mini-cart.less
 * -----------------------------------------------
*/
.top-nav-mini-cart-icon-container {
	.top-nav-mini-cart-icon-contents {
		position: relative;
		.mini-cart-icon {
			color: #555;
			display: block;
			font-size: 20px;
			line-height: 1;
			padding: 5px;
			position: relative;

			.items-count {
				background-color: #333;
				border-radius: 50%;
				color: #fff;
				font-size: 11px;
				font-weight: 500;
				height: 18px;
				line-height: 18px;
				margin-right: -2px;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: 18px;
			}
			.cart-quick-info {
				display: none;
			}
		}
		.dropdown-content {
			background-color: #fff;
			border: 1px solid #eee;
			left: auto;
			opacity: 0;
			padding: 20px;
			position: absolute;
			right: 0;
			text-align: left;
			top: calc(100% + 75px);
			.transition( all .2s ease );
			visibility: hidden;
			width: 300px;
			z-index: 1000;
			@media only screen and (max-width : 1079px) {
				left: 0;
				top: calc(100% + 54px);
			}

			ul {
				list-style: none;
			}

			.cart-subtotal {
				padding: 10px 0;
				text-align: center;
			}
			.cart_list {
				.mini_cart_item {
					a {
						color: @black-444;
					}
					a.remove {
						color: #e81123;
						float: left;
						font-size: 16px;
						font-weight: 800;
						margin-left: 0;
						margin-right: 6px;
						position: relative;
						top: -4px;
					}
					.attachment-shop_thumbnail {
						width: 64px;
					}
				}
			}

		}
		&:hover {
			color: #888;
			.dropdown-content {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media only screen and (max-width: 1079px) {
	}
}
