/*
 * shop-archive.less
 * -----------------------------------------------
*/
/* woocommerce css */
.woocommerce {
	.product {
		.price {
			color: @woo_price_color;
			font-size: 16px;
			font-weight: 600;
			ins {
				text-decoration: none;
			}
			del {
				color: #aaa;
				font-size: 14px;
				margin-right: 5px;
				font-weight: 400;
			}
		}
	}

	.products {
		.product-title {
			font-size: 18px;
			margin: 2px 0;
		}
		.product-categories {
			color: #777;
			font-size: 13px;
			a {
				margin-right: 2px;
			}
		}
		.thumb {
			&.image-featured {
			}
			&.image-swap {
				.attachment-shop_catalog {
					position: relative;
					z-index: 2;
					.transition(all 0.4s ease);
				}
				.product-hover-image {
					left: 0;
					overflow: hidden;
					position: absolute;
					top: 0;
					z-index: 1;
					.transition(all 0.4s ease);
				}
			}
			&.image-gallery {
				.attachment-shop_catalog {
					display: none;
				}
			}
		}
		.product:hover {
			.thumb {
				&.image-swap {
					.attachment-shop_catalog {
						opacity: 0;
					}
				}
			}
		}

		/**
		 * Buttons
		 */
		a.button,
		button.button,
		input.button,
		#respond input#submit {
			position: relative;
			&.loading {
				opacity: 0.85;
				padding-right: 2.618em;

				&::after {
					content: "\f110";
					font-family: fontawesome;
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					font-weight: 400;
					position: absolute;
					top: 0.5em;
					right: 1em;
					-webkit-animation: spin 2s linear infinite;
					-moz-animation: spin 2s linear infinite;
					animation: spin 2s linear infinite;
				}
			}

			&.added {
				&::after {
					content: "\f00c";
					font-family: fontawesome;
					margin-left: 0.53em;
					vertical-align: bottom;
				}
			}
		}
		a.added_to_cart {
			color: #333;
			padding-top: 0.5em;
			white-space: nowrap;
			display: inline-block;
		}
	}


	/**
	 * Result Count
	 */
	.woocommerce-result-count {
		border: 1px solid #e8e8e8;
		color: #888;
		display: block;
		float: left;
		font-size: 1em;
		height: 36px;
		line-height: 36px;
		margin-right: 6px;
		padding: 0 1em;
	}

	
	/**
	 * Ordering & Perpage Select Field
	 */
	.woocommerce-ordering,
	.woocommerce-perpage,
	.variations_form	{
		select {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			-o-appearance: none;
			border: 1px solid #e8e8e8;
			height: 36px;
			background-image: url("images/dropdown-icon.png");
			background-position: 100% 50%;
			background-repeat: no-repeat;
			background-size: 26px auto;
			cursor: pointer;
			padding: 0 30px 0 15px;
		}
	}
	.woocommerce-ordering,
	.woocommerce-perpage {
		float: right;
		margin-right: 0;
	}
	.woocommerce-perpage select {
		margin-left: 10px;
	}
	.woocommerce-ordering select {
	}

	.yith-wcqv-button {
		float: right;
	}

	.shop-catalog-layout-default  {
	}

	.shop-catalog-layout-standard  {
	}
}
#yith-quick-view-modal #yith-quick-view-content {
	padding: 15px;
}