/*
 * shop-widgets.less
 * -----------------------------------------------
*/

ul.cart_list,
ul.product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: 0;
	li {
		border-bottom: 1px solid #eee;
		padding: 4px 0 10px;
		margin: 0 0 10px;
		.clearfix();
		list-style: none;
		a {
			display: block;
			color: @black-444;
		}
		a.remove {
			color: #e81123;
			float: left;
			font-size: 16px;
			font-weight: 800;
			margin-left: 0;
			margin-right: 6px;
			position: relative;
			top: -4px;
		}
		.attachment-shop_thumbnail {
			width: 64px;
		}

		img {
			float: right;
			margin-left: 4px;
			width: 50px;
			height: auto;
			box-shadow: none;
		}

		dl {
			margin: 0;
			padding-left: 1em;
			border-left: 2px solid rgba(0, 0, 0, 0.1);
			.clearfix();

			dt,
			dd {
				display: inline-block;
				float: left;
				margin-bottom: 1em;
			}

			dt {
				font-weight: 700;
				padding: 0 0 0.25em;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0 0 0.25em;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		del, ins {
			font-weight: 600;
		}
		.woocommerce-Price-amount {
			color: @woo_price_color;
		}
		ins {
			text-decoration: none;
		}
		del {
			margin-right: 5px;
			font-weight: 400;
			.woocommerce-Price-amount {
				color: #aaa;
			}
		}
		
		.star-rating {
			float: none;
		}
	}
}

.widget.woocommerce {
	.product-title {
		color: @black-333;
	}
	/**
	 * Cart sidebar
	 */
	&.widget_shopping_cart {
		.cart_list {
			li {
				padding-left: 0;
				position: relative;
				padding-top: 0;
			}
		}
		.buttons {
			.clearfix();
			a {
				margin-right: 5px;
				margin-bottom: 5px;
			}
		}
		.cart-subtotal {
			padding: 10px 0;
			text-align: center;
		}
	}

	// product categories
	&.widget_product_categories {
		.product-categories {
			.cat-item {
				.children {
					padding-left: 10px;
					li {
						&:last-child {
							padding-bottom: 0;
						}
					}
				}
			}
			li {
				padding: 5px 0;
				a::after {
					content: "\f105";
					float: left;
					font-family: fontawesome;
					margin-right: 10px;
				}
			}
		}
	}


	/**
	 * Layered nav widget
	 */
	&.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;

			li {
				.clearfix();
				padding: 5px 0;
				list-style: none;

				a,
				span {
					padding: 1px 0;
				}
				a::after {
					content: "\f105";
					float: left;
					font-family: fontawesome;
					margin-right: 10px;
				}
			}

			li.chosen {
				a {
					&::before {
					}
				}
			}
		}
	}

	&.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;
			overflow: hidden;
			zoom: 1;

			li {
				float: left;
				padding: 0 1px 1px 0;
				list-style: none;

				a {
					text-decoration: none;

					&::before {
					}
				}
			}
		}
	}

	/**
	 * Price filter widget
	 */
	&.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}

		.price_slider_amount {
			text-align: right;
			line-height: 2.4;
			font-size: 0.8751em;
			.from,
			.to {
				color: @woo_price_color;
			}
			.price_label {
				color: #555;
				font-size: 13px;
				font-weight: 600;
				line-height: 26px;
			}

			.button {
				font-size: 14px;
				line-height: 1.38;
				padding: 5px 20px;
				border: 1px solid transparent;
				border-radius: 4px;
				float: left;
				&:hover {
					background-color: @black-333;
					color: #fff;
				}
			}
		}

		.ui-slider {
			position: relative;
			text-align: left;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}

		.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 1em;
			height: 1em;
			border-radius: 1em;
			cursor: ew-resize;
			outline: none;
			top: -0.3em;
			margin-left: -0.5em;
		}

		.ui-slider .ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: 0.7em;
			display: block;
			border: 0;
			border-radius: 1em;
		}

		.price_slider_wrapper .ui-widget-content {
			border-radius: 1em;
			background: #eee;
			border: 0;
		}

		.ui-slider-horizontal {
			height: 0.5em;
		}

		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}

		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}

	/**
	 * Rating Filter Widget
	 */
	&.widget_rating_filter {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;

			li {
				.clearfix();
				padding: 0 0 1px;
				list-style: none;

				a {
					padding: 1px 0;
					text-decoration: none;
				}

				.star-rating {
					float: none;
					display: inline-block;
				}
			}

			li.chosen {
				a {
					&::before {
						color: #777;
					}
				}
			}
		}
	}

	/**
	 * Product tags
	 */
	&.widget_product_tag_cloud {
		.tagcloud {
			> a {
				background-color: rgba(0, 0, 0, 0.05);
				border: medium none;
				border-radius: 2px;
				color: @black-444;
				display: inline-block;
				font-size: 12px !important;
				margin: 3px 2px;
				padding: 4px 8px 2px;
				.transition(all 0.3s ease);
				&:hover {
					background: @black-333;
					color: #fff;
				}
			}
		}
	}
}



@import 'shop-jakaria';