/*
 * 404.less
 * -----------------------------------------------
*/
.page-404-wrapper {
	&.page-404-wrapper-padding {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.page-404-main-content {
		margin-bottom: 25px;
		.title {
			font-size: 128px;
			line-height: 1;
			margin-top: 0;
		}
		.content,
		.content p {
		}
	}
	.search-box {
		margin-bottom: 25px;
		.paragraph {
			margin-bottom: 15px;
		}
	}
	.helpful-links {
		margin-bottom: 25px;

		ul {
			li {
				a {
					font-size: 13px;
				}
			}
		}
	}
}