/*
 * about.less
 * -----------------------------------------------
*/
.elevate {
	.translate(0px; -45%) !important;
	@media (max-width: 767px) {
		.translate(0px, 0px) !important;
		margin-bottom: 64px !important;
		margin-top: 0 !important;
	}
}