/*
 * common.less
 * -----------------------------------------------
*/

/* -------- Basic Structure ---------- */
html {
	font-size: 100%;
	max-width: 100%;
	@media only screen and (max-width : 991px) {
		font-size: 90%;
	}
	@media only screen and (max-width : 767px) {
		font-size: 85%;
	}
	@media only screen and (max-width : 479px) {
		font-size: 80%;
	}
}
html, html a {
	-webkit-font-smoothing: antialiased;
}
body {
	max-width: 100%;
	overflow-x: hidden;
}
img {
	height: auto;
	max-width: 100%;
}
iframe, embed, object {
	max-width: 100%;
}
iframe {
	display: block;
	margin: 0;
	max-width: 100%;
}
.inline-block,
.display-inline-block {
	display: inline-block;
}
.display-inline {
	display: inline;
}
.display-block {
	display: block;
}
.fullwidth {
	width: 100%;
}
.bg-hover-theme-colored {
	.transition(all .3s ease);
}
.media-object {
	max-width: none;
}
/* Text-decoration */
.text-underline {
	text-decoration: underline;
}
form label {
	color: @black-555;
	font-weight: @body-font-weight;
}
.hr-divider {
	margin: 50px 0;
}

/* -------- Line-Bottom ---------- */
.heading-line-bottom {
	border-bottom: 1px dashed @gray-base;
	display: inline-block;
	margin: 0;
	position: relative;
	margin: 20px 0;
}
.heading-line-bottom::after {
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 4px;
	width: 20px;
}
.heading-title {
	margin-top: 10px;
}
.line-bottom {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 10px;

	&:after {
		bottom: -1px;
		content: "";
		height: 3px;
		left: 0;
		position: absolute;
		width: 50px;
		background: #555;
	}
}
.line-bottom-centered {
	position: relative;
		margin: 10px 0 20px;

	&:after {
		background: #2b96cc none repeat scroll 0 0;
		bottom: -8px;
		content: "";
		height: 1px;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		position: absolute;
		right: 0;
		width: 30px;
	}
}
.title-icon [class^="flaticon-"]::after, 
.title-icon [class^="flaticon-"]::before {
	font-size: 48px;
	margin-left: 10px;
}
.title-icon {
	margin: 0 auto;
	max-width: 160px;
	position: relative;
}
.title-icon::after {
	content: "";
	height: 2px;
	left: 24px;
	position: absolute;
	top: 10px;
	width: 30px;
}
.title-icon::before {
	content: "";
	height: 2px;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 30px;
}


/* -------- Background Video ---------- */
.bg-video {
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: @zindex-bg-video;
}
.bg-video .video {
	height: 100%;
	left: 0;
	margin: 0!important;
	position: relative;
	top: 0;
	width: 100%;
}
.bg-video .video .mbYTP_wrapper {
	z-index: @zindex-bg-video-video-mbYTP_wrapper !important;
}

/* -------- Box Table ---------- */
.display-table-parent {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.display-table {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
}
.display-table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

/* -------- Scroll To Top ---------- */
.scrollToTop {
	background: fade(@black, 10%);
	bottom: 15px;
	display: none;
	height: 50px;
	padding: 2px;
	position: fixed;
	right: 15px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: @zindex-scrollToTop;
}
.scrollToTop i {
	color: @white-base;
	font-size: 42px;
}
.scrollToTop:hover {
	background: fade(@black, 60%);
	text-decoration: none;
}
/* -------- magnific popup ---------- */
.mfp-close-btn-in .mfp-close {
	color: #eee;
	font-size: 64px;
}