/*
 * container.less
 * -----------------------------------------------
*/
.container {
	.container {
		width: 100%;
	}
}
.container,
.container-fluid {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width:992px){
	body.container-970px .container {
		width: 970px;
	}
	body.container-100pr .container {
		width: 100%;
	}
	body.container-100pr {
		.container,
		.container-fluid {
			padding-left: 40px;
			padding-right: 40px;
			.container,
			.container-fluid {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
section {
	position: relative;
}
section > .container, section > .container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}