/*
 * footer.less
 * -----------------------------------------------
*/
@footer-bg-color:				#1a1a1a;
@footer-primary-text-color:	 	@black-999;
@footer-link-color:	 			@gray-ddd;
@footer-widget-title-color:	 	@gray-eee;

@footer-bottom-bg-color:		@black-222;
@footer-bottom-text-color:		@black-888;

footer#footer {
	background-color: @footer-bg-color;
	color: @footer-primary-text-color;
	a {
		color: @footer-link-color;
		&:focus,
		&:hover,
		&:active {
			color: darken(@footer-link-color, 20%);
		}
	}
	.footer-top {
		font-size: 14px;

		> .container,
		> .container-fluid {
			padding-bottom: 30px;
			padding-top: 60px;
		}
		.footer-top-column-separator {
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			padding: 0 30px;
			&:first-child {
				border: none !important;
			}
		}
		.widget {
			.widget-title {
				color: @footer-widget-title-color;
				font-size: 16px;
				text-transform: uppercase;
				
			}
		}
	}
	.footer-bottom {
		background-color: @footer-bottom-bg-color;
		color: @footer-bottom-text-color;
		font-size: 13px;
		a {
			font-size: 13px;
		}
		> .container,
		> .container-fluid {
			padding-bottom: 15px;
			padding-top: 15px;
		}
		.copyright-text {
			margin-bottom: 0;
		}
		.styled-icons a {
			height: auto;
			line-height: 1;
		}
	}
}

/* fixed footer */
footer#footer {
	&.fixed-footer {
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		z-index: -1;
		@media screen and (max-width:992px) {
			position: relative;
		}
	}
}
body.has-fixed-footer .main-content {
	background-color: #fff;
}


/* Footer Inverted*/
@inverted-footer-bg-color:				 	#f7f7f7;
@inverted-footer-primary-text-color:	 	@black-666;
@inverted-footer-link-color:	 			@black-222;
@inverted-footer-widget-title-color:	 	@black-222;


@inverted-footer-bottom-bg-color:			@gray-eee;
@inverted-footer-bottom-text-color:			@black-666;

footer#footer {
	&.footer-inverted {
		background-color: @inverted-footer-bg-color;
		border-top: 1px solid #eee;
		color: @inverted-footer-primary-text-color;
		a {
			color: @inverted-footer-link-color;
			&:focus,
			&:hover,
			&:active {
				color: darken(@inverted-footer-link-color, 20%);
			}
		}
		.footer-top .widget .widget-title,
		.footer-top .widget .post .post-title a {
			color: @inverted-footer-widget-title-color;
		}
		.footer-bottom {
			background-color: @inverted-footer-bottom-bg-color;
			color: @inverted-footer-bottom-text-color;
		}
		.styled-icons.icon-dark:not(.icon-bordered) a {
			color: #fff;
		}	
	}
}