/*
 * footer-top-callout.less
 * -----------------------------------------------
*/
#footer-top-callout-wrap {
	.container, .container-fluid {
		padding-bottom: 40px;
		padding-top: 40px;
	}	
	.callout-icon {
		&.media-left {
			padding-right: 20px;
		}
		&.media-top {
			margin-bottom: 10px;
		}
		i {
			font-size: 48px;
			margin-top: 5px;
		}
	}
	.callout-content {
		font-size: 18px;
	}
	.button-right {
		.callout-content {
			float: left;
			width: 75%;
			p {
				margin-bottom: 0;
			}
		}
		.callout-button {
			float: left;
			margin-top: 5px;
			margin-left: 2%;
			width: 23%;
		}
	}
}