/*
 * form.less
 * -----------------------------------------------
*/
.select2 .selection {
	.select2-selection {
		background-color: #f9f9f9;
		border: 1px solid #e4e4e4;
		border-radius: 0;
		height: 38px;
		padding: 4px;
		.select2-selection__rendered {
			color: #888;
			line-height: 28px;
		}
		.select2-selection__arrow {
			height: 26px;
			position: absolute;
			right: 6px;
			top: 6px;
			width: 20px;
		}
	}
}

.form-control {
	-moz-appearance: none;
	background: #f7f7f7 none repeat scroll 0 0;
	border: 1px solid #eee;
	box-shadow: none;
	border-radius: 0;
	color: #777;
	display: inline-block;
	font-family: inherit;
	font-size: 1em;
	font-weight: inherit;
	height: 38px;
	line-height: 1.65;
	max-width: 100%;
	padding: 6px 12px;
	&:focus {
		border-color: #a9a9a9;
		box-shadow: none;
		outline: 0 none;
	}
}