/*
 * gallery-isotope.less
 * -----------------------------------------------
*/

/* -------- Portfolio Isotop Filter ---------- */
.gallery-isotope-filter {
	margin-bottom: 30px;
	a {
		.transition(all 100ms ease-in-out 0s);
		@media only screen and (max-width: 479px) {
			margin-bottom: 10px;
		}
	}

	&.style-flat {
		a {
			font-size: 14px;
			font-weight: 500;
			margin-left: 20px;

			&.active,
			&:focus,
			&:hover {
				color: @black-333;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}


	&.style-boxed {
		a {
			border-left: 3px solid transparent;
			background-color: @white-f8;
			display: inline-block;
			float: none;
			font-size: 12px;
			font-weight: 400;
			line-height: normal;
			margin-right: 5px;
			outline: medium none;
			padding: 7px 15px;

			&.active,
			&:focus,
			&:hover {
				background-color: @black-444;
				color: @white-base;
			}
		}
	}


	&.btn-group {
		a {
			background-color: @white-fc;
			
			&.active,
			&:focus,
			&:hover {
				box-shadow: none;
				background-color: @black-444;
				color: @white-base;
			}
		}
	}
}

/* -------- Portfolio Isotop Sorter ---------- */
.gallery-isotope-sorter {
	margin-bottom: 30px;
	a {
		background-color: @white-fc;
		.transition(all 100ms ease-in-out 0s);
		&.active ,
		&:hover {
			box-shadow: none;
			background-color: @black-444;
			color: @white-base;
		}
		@media only screen and (max-width: 479px) {
			margin-bottom: 10px;
		}
	}
}

/* -------- Portfolio Isotop Gallery ---------- */
.gallery-isotope {
	/* by default 4 grids */
	.gallery-item {
		padding-right: 10px;
		padding-left: 10px;
		margin-bottom: 0;
		float: left;
		width: 25%;
		&.wide {
			width: 50%;
		}
	
		/* item sizer */
		&.gallery-item-sizer {
			padding: 0 !important;
			margin-bottom: 0 !important;
			width: 25%;
			&.wide {
				width: 50%;
			}
		}
	}

	/*portfolio 2 grids*/
	&.grid-1 .gallery-item {
		width: 100%;
		&.wide {
			width: 100%;
		}
	}

	/*portfolio 2 grids*/
	&.grid-2 .gallery-item {
		width: 50%;
		&.wide {
			width: 100%;
		}
	}

	/*portfolio 3 grids*/
	&.grid-3 .gallery-item {
		width: 33.333%;
		&.wide {
			width: 66.6667%;
		}
	}

	/*portfolio 4 grids*/
	&.grid-4 .gallery-item {
		width: 25%;
		&.wide {
			width: 50%;
		}
	}

	/*portfolio 5 grids*/
	&.grid-5 .gallery-item {
		width: 20%;
		&.wide {
			width: 40%;
		}
	}

	/*portfolio 6 grids*/
	&.grid-6 .gallery-item {
		width: 16.666666667%;
		&.wide {
			width: 33.333%;
		}
	}

	/*portfolio 7 grids*/
	&.grid-7 .gallery-item {
		width: 14.2857143%;
		&.wide {
			width: 28.5714286%;
		}
	}

	/*portfolio 8 grids*/
	&.grid-8 .gallery-item {
		width: 12.5%;
		&.wide {
			width: 25%;
		}
	}

	/*portfolio 9 grids*/
	&.grid-9 .gallery-item {
		width: 11.11%;
		&.wide {
			width: 22.22%;
		}
	}

	/*portfolio 10 grids*/
	&.grid-10 .gallery-item {
		width: 10%;
		&.wide {
			width: 20%;
		}
	}


	/*gutter*/
	&.gutter .gallery-item {
		padding-right: 5px;
		padding-left: 5px;
		margin-bottom: 10px;
	}
	&.gutter-small .gallery-item {
		padding-right: 2px;
		padding-bottom: 2px;
	}
	&.gutter-0 .gallery-item {
		padding-right: 0;
		padding-bottom: 0;
	}
	&.gutter-5 .gallery-item {
		padding-right: 5px;
		padding-bottom: 5px;
	}
	&.gutter-10 .gallery-item {
		padding-right: 10px;
		padding-bottom: 10px;
	}
	&.gutter-20 .gallery-item {
		padding-right: 20px;
		padding-bottom: 20px;
	}
	&.gutter-30 .gallery-item {
		padding-right: 30px;
		padding-bottom: 30px;
	}
	&.gutter-40 .gallery-item {
		padding-right: 40px;
		padding-bottom: 40px;
	}
	&.gutter-50 .gallery-item {
		padding-right: 50px;
		padding-bottom: 50px;
	}
	&.gutter-60 .gallery-item {
		padding-right: 60px;
		padding-bottom: 60px;
	}
}

/* -------- Portfolio Isotop Item Media Query ---------- */
.gallery-isotope {
	.gallery-item {
		@media only screen and (max-width: 991px) {
			width: 33.333% !important;
			&.wide {
				width: 66.6667% !important;
			}
		}
		@media only screen and (max-width: 767px) {
			width: 50% !important;
			&.wide {
				width: 100% !important;
			}
		}
		@media only screen and (max-width: 479px) {
			width: 100% !important;
			&.wide {
				width: 100% !important;
			}
		}
	}
}