/*
 * header-nav.less
 * -----------------------------------------------
*/

#top-primary-nav {
	&.menuzord {
		padding: 0;
	}
	.menuzord-menu {
		> li {
			position: relative;
			> a {
				font-size: 13px;
				padding-left: 20px;
				padding-right: 20px;
				@media only screen and (max-width : 1200px) {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		ul.dropdown {
			border: 1px solid @gray-eee;
			box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.08);
			li {
				margin: 0;
				border-bottom: 1px solid @gray-eee;
				a { 
					color: @black-666;
					font-size: 13px;
					padding: 7px 25px 7px 22px;
					&:hover {
						background-color: @white-f5;
					}
				}
				.indicator { top: 4px; }
				&:hover > a {
					background: #eee none repeat scroll 0 0;
					color: @black-666;
				}
			}
		}
		> li > ul.dropdown {
			border-top: 3px solid #333;
			background: #fcfcfc;
		}

	}
	&.menuzord-responsive {
		.menuzord-menu {
			@media only screen and (max-width : 1079px) {
				> li > a {
					color: @white-base;
					background-color: @black-333;
					border-bottom-color: @black-444;
				}
				li .indicator {
					border-left-color: @black-444;
				}
				ul.dropdown {
					border-color: @black-444;
					li a {
						color: @white-base;
						background-color: lighten(@black-333, 1%);
						border-bottom-color: @black-444;
					}
				}
				.widget {
					margin-bottom: 15px;
				}
				.megamenu .megamenu-row {
					> [class^="col"] {
						padding: 0 15px;
					}
					
					[class*="col"] {
						margin-top: 0;
					}
				}
			}
		}
	}
}
#header.header {
	.site-brand {
		margin-bottom: 13px;
		@media only screen and (max-width : 1200px) {
			margin-right: 20px;
		}
		img {
			max-height: 38px;
			width: auto;
			@media only screen and (max-width : 767px) {
				max-height: 25px !important;
			}
		}

		img.logo-2x {
			display: none;
		}
	}
	@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi), only screen and (min-resolution:1.5dppx){
		.site-brand {
			.logo-default.logo-1x {
				display: none;
			}
			.logo-default.logo-2x {
				display: inline-block;
			}
		}
	}
}

/* subtitle */
.menu-item .subtitle {
	display: block;
	font-weight: normal;
}
/* Switchable logo */
body.switchable-logo {
	#header.header {
		.site-brand {
			.logo-light.logo-1x {
				display: inline-block;
			}
			.logo-dark.logo-1x {
				display: none;
			}
		}
	}

	.header-nav-wrapper.navbar-scrolltofixed.scroll-to-fixed-fixed {
		#header.header {
			.site-brand {
				.logo-light.logo-1x {
					display: none;
				}
				.logo-dark.logo-1x {
					display: inline-block;
				}
			}
		}
	}
	@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi), only screen and (min-resolution:1.5dppx){
		#header.header {
			.site-brand {
				.logo-light.logo-1x {
					display: none;
				}
				.logo-dark.logo-1x {
					display: none;
				}
				.logo-light.logo-2x {
					display: inline-block;
				}
				.logo-dark.logo-2x {
					display: none;
				}
			}
		}
		.header-nav-wrapper.navbar-scrolltofixed.scroll-to-fixed-fixed {
			#header.header {
				.site-brand {
					.logo-light.logo-1x {
						display: none;
					}
					.logo-dark.logo-1x {
						display: none;
					}
					.logo-light.logo-2x {
						display: none;
					}
					.logo-dark.logo-2x {
						display: inline-block;
					}
				}
			}
		}
	}
}

/* -------- Megamenu-Row ---------- */
.menuzord-menu {
	> li {
		> .megamenu {
			border-top: 3px solid #333;
			background: #fcfcfc;
			background-repeat: no-repeat;
			background-position: bottom right;
			padding: 0;

			&.megamenu-three-quarter-width {
				left: auto;
				width: 75%;
			}
			.megamenu-row {
				box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.08);
				display: table;
				.col1 {
					width: 8.33333333%;
				}
				.col2 {
					width: 16.66666667%;
				}
				.col3 {
					width: 25%;
				}
				.col4 {
					width: 33.333%;
				}
				.col5 {
					width: 41.66666667%;
				}
				.col6 {
					width: 50%;
				}
				.col7 {
					width: 58.33333333%;
				}
				.col8 {
					width: 66.66666667%;
				}
				.col9 {
					width: 75%;
				}
				.col10 {
					width: 83.33333333%;
				}
				.col11 {
					width: 91.66666667%;
				}
				.col12 {
					width: 100%;
				}
				> [class^="col"] {
					display: table-cell;
					float: none;
					margin-left: 0;
					padding: 20px 30px;
					border-right: 1px solid #eee;
					background-repeat: no-repeat;
					background-position: bottom right;
				}
				> [class^="col"]:last-child {
					border-right: none;
				}

				li {
					border: 0 none;
					clear: both;
					font-size: 12px;
					margin: 0;
					padding: 2px;
					position: relative;
					width: 100%;

					a {
						display: block;
						padding: 7px 0;
					}
					&.active > a, &:hover > a {
						color: #111;
					}
					a i {
						color: #555;
						padding-right: 6px;
					}
					&.active a i, .menuzord-menu > li > &:hover a i {
					}
				}
				.widget {
					margin-bottom: 0;
				}
			}
		}
	}
	
	@media only screen and (min-width : 1080px) {
		> li {
			> .megamenu {
				display: block !important;
				opacity: 0;
				visibility: hidden;
			}
			&:hover {
				> .megamenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
body.admin-bar .header-nav .navbar-scrolltofixed.scroll-to-fixed-fixed {
	margin-top: 28px;
	@media (max-width: 600px) {
		margin-top: 0;
	}
}