/*
 * header.less
 * -----------------------------------------------
*/
#header.header {
	.header-top {
		color: @white-base;
		padding: 5px 0;
		font-size: 13px;
		line-height: 2;
		a {
			color: @white-base;
			font-size: 13px;
			&:hover {
				color: darken(@white-base, 10%);
			}
		}
		.element {
			display: inline-block;
			margin-right: 10px;
			padding-right: 10px;
			vertical-align: middle;
			&:last-child {
				margin-right: 0;
				padding-right: 0;
			}
			.search-form {
				.search-field {
					height: 30px;
					padding: 5px 10px 5px 20px;
				}
				.search-submit {
					padding: 3px 20px;
				}
			}
		}
		.styled-icons li {
			margin-bottom: 5px;
			vertical-align: middle;
		}
		.header-top-left {
			.element {
			}
		}
		.header-top-right {
			.element {
			}

		}
	}
	.header-mid-column3-container {
		display: flex;
		justify-content: flex-end;
		@media only screen and (max-width : 991px) {
			display: block;
		}
		.element {
			display: inline-block;
			margin-bottom: 15px;
			margin-top: 10px;
			padding-right: 10px;
			margin-left: 20px;
			vertical-align: middle;
			@media only screen and (max-width : 767px) {
				display: block;
			}
		}
		.contact-info {
			float: right;
			@media only screen and (max-width : 1079px) {
				float: none;
			}
			&.media {
				margin-top: 10px;
			}
			.media-body {
				width: auto;
			}
			@media only screen and (max-width : 767px) {
				.media-body, .media-left, .media-right {
					display: block;
					padding-right: 0;
				}
			}

			.font-icon {
				font-size: 30px;
				margin-top: 10px;
			}
			.title {
				color: @gray-base;
				font-size: 12px;
				text-transform: uppercase;
			}
			.subtitle {
				font-size: 12px;
				margin: 0;
			}

			&.small-icon {
				.icon {
					font-size: inherit;
					font-weight: bold;
					padding-right: 5px;
					margin-top: 0;
				}
				.title {
					color: @black-333;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
				}
				.subtitle {
					color: @gray-base;
					font-size: 12px;
					font-weight: normal;
					margin: 0;
				}
			}
		}
	}
	.header-nav {
		.header-nav-container {
			box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
			.custom-button {
			}
		}
	}
	.nav-side-icon-list {
		display: inline-block;
		@media only screen and (max-width : 1079px) {
			float: left;
		}
		> li {
			float: left;
			padding: 20px 12px;
			@media only screen and (max-width : 1079px) {
				padding: 13px 12px;
			}

			.custom-button {
				margin-top: -5px;
			}
		}
	}

	&.header-layout-type-header-1-2col {
		.menuzord-menu {
			float: right;
		}
		.nav-side-icon-list {
			float: right;
		}
	}
	&.header-layout-type-header-2-3col {
		.nav-side-icon-list {
			float: right;
			@media only screen and (max-width : 1079px) {
				float: left;
			}
		}
		@media only screen and (max-width : 1079px) {
			.site-brand {
				display: block;
				float: none;
			}
		}
	}
	&.header-layout-type-header-3-logo-center {
		.site-brand {
			display: block;
			float: none;
		}
		.nav-side-icon-list {
			float: right;
			@media only screen and (max-width : 1079px) {
				float: left;
			}
		}
	}
	&.header-layout-type-header-4-logo-menu-center {
		.site-brand {
			display: block;
			float: none;
		}
		.menuzord-menu {
			float: none;
			text-align: left;
			@media only screen and (min-width : 1080px) {
				display: inline-block !important;
			}
		}
		.header-nav {
			text-align: center;
		}
		.top-nav-mini-cart-icon-container {
			text-align: left;
		}
	}
	&.header-layout-type-header-5-mobile-nav {
		.site-brand {
			float: none;
		}
	}
}