/*
 * owl-carousel.less
 * -----------------------------------------------
*/

.owl-carousel {
	.owl-item img {
		display: inline-block;
		width: auto;
	}

	/* owl dots */
	.owl-dots {
		text-align: center;
		margin-top: 10px;
		.owl-dot {
			display: inline-block;
			zoom: 1;
			span {
				background: #D6D6D6;
				border-radius: 50%;
				display: block;
				height: 12px;
				margin: 5px 3px;
				opacity: 0.8;
				.transition( all .4s ease 0s);
				width: 12px;
			}
			&.active,
			&:hover {
				span {
					background: #869791;
				}
			}
		}
	}
	.owl-nav {
		button {
			border-radius: 0;
			display: block;
			margin: 0;
			position: absolute;
			opacity: 0.4;
			top: 43%;
			z-index: 6;
			.transition(all 0.4s ease 0s);

			i {
				color: #555;
				vertical-align: middle;
				font-size: 16px;
			}
			&.owl-prev {
				left: 0;
			background: rgba(240,240,240,0.8) !important;
			padding: 10px !important;
			}

			&.owl-next {
				right: 0;
			background: rgba(240,240,240,0.8) !important;
			padding: 10px !important;
			}
		}

	}
	&:hover {
		.owl-nav {
			> button {
				opacity: 1;
			}
		}
	}
}

/* Owl Dots	*/
.owl-dots-bottom-right .owl-dots {
	bottom: -10px;
	position: absolute;
	right: 0;
}
.owl-dots-center-bottom .owl-dots {
	bottom: 15px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}