/*
 * page.less
 * -----------------------------------------------
*/
.main-content-area {
	table {
		margin: 0 0 40px;
		width: 100%;
		td, th {
			border: 1px solid #e6e6e6;
			padding: 10px;
		}
	}
}