/*
 * page-title.less
 * -----------------------------------------------
*/
.page-title {
	background-color: @black-333;
	
	.padding-default {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.padding-extra-small {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.padding-small {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.padding-medium {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.padding-large {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.padding-extra-large {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.title {
		color: @white-f5;
		font-weight: 500;
		line-height: 1.1;	
		margin-top: 0;	
	}
	.subtitle {
		color: @gray-aaa;
		font-weight: 400;
		margin: 0;
	}

	/* breadcrumbs */
	.breadcrumbs {
		background-color: transparent;
		padding: 0;
		margin: 0;
		font-size: 12px;
		> span {
			margin: 0 12px 10px 0;
		}
		span a {
			color: @gray-aaa;
			&:hover {
				color: darken(@gray-aaa, 25%);
			}
		}
		.active {
			color: @gray-ddd;
		}
	}
	
	//make text black
	&.text-inverted {
		.title {
			color: @black-222;
		}
		.subtitle {
			color: @black-555;
		}
		.breadcrumbs {
			span a {
				color: @black-555;
				&:hover {
					color: darken(@black-555, 25%);
				}
			}
			.active {
				color: @gray-base;
			}
		}
	}
}