.tp-caption.News-Title, .News-Title {
color:#ffffff;
font-size:70px;
line-height:60px;
font-weight:400;
font-style:normal;
font-family:Roboto Slab;
text-decoration:none;
background-color:transparent;
border-color:transparent;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
}

.tp-caption.construction-large, .construction-large {
font-size:70px;
line-height:40px;
font-weight:700;
font-family:"Montserrat";
color:#ffffff;
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
white-space:nowrap;
letter-spacing:13px;
}

