<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Header &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/header/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Header Overview</title>
		<link>http://documentation.kodesolution.net/kb/header-overview/</link>
		<pubDate>Mon, 07 Aug 2017 06:37:34 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=322</guid>
		<description><![CDATA[For Customize Header Style Just Goto: Theme Options -&#62; Header Then just follow like bellow those screenshot: Screenshot 1: Screenshot 2: Screenshot 3: Screenshot 4:]]></description>
				<content:encoded><![CDATA[<p>For Customize Header Style Just Goto: <strong>Theme Options -&gt; Header</strong><br />
Then just follow like bellow those <strong>screenshot</strong>:</p>
<p><strong>Screenshot 1:</strong></p>
<p><img class="alignnone size-full wp-image-325" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1.jpg" alt="" width="1904" height="928" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-300x146.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-768x374.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-1024x499.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-920x448.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-600x292.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-320x156.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
<p><strong>Screenshot 2:</strong></p>
<p><img class="alignnone size-full wp-image-326" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2.jpg" alt="" width="1918" height="968" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2.jpg 1918w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-300x151.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-768x388.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-1024x517.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-50x25.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-920x464.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-600x303.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-320x162.jpg 320w" sizes="(max-width: 1918px) 100vw, 1918px" /></p>
<p><strong>Screenshot 3:</strong></p>
<p><img class="alignnone size-full wp-image-323" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3.jpg" alt="" width="1901" height="925" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3.jpg 1901w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-300x146.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-768x374.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-1024x498.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-920x448.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-600x292.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-320x156.jpg 320w" sizes="(max-width: 1901px) 100vw, 1901px" /></p>
<p>Screenshot 4:</p>
<p><img class="alignnone size-full wp-image-324" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4.jpg" alt="" width="1904" height="896" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-300x141.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-768x361.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-1024x482.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-920x433.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-600x282.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-320x151.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
