/*
 * pagination.less
 * -----------------------------------------------
*/
.pagination {
	margin-bottom: 0;
	@media only screen and (max-width: 991px) {
		margin-bottom: 30px;
	}
	> li {
		> a,
		> span {
			background-color: #eee;
			border: 0;
			border-radius: 0;
			box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1) inset;
			color: #777;
			font-size: 15px;
			line-height: @line-height-content;
			margin-right: 10px;
			padding: 4px 14px;
		}
		&:last-child > a,
		&:last-child > span {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		&:first-child > a,
		&:first-child > span {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
		> a:focus,
		> a:hover,
		> span:focus,
		> span:hover {
			background-color: #333;
			border-color: #333;
			color: #fff;
		}
	}
}
