/*
 * Shortcode: features.less
 * -----------------------------------------------
*/
.features-item {
	margin-bottom: 40px;
	.details {
		.title {
			margin-top: 15px;
		}
	}
}
.owl-carousel .features-item {
	margin-bottom: 30px;
}