/*
 * Shortcode: pricing-tables.less
 * -----------------------------------------------
*/

.pricing-table {
	@media only screen and (max-width: 991px) {
		margin-bottom: 40px;
	}
	.feature-list {
		margin-bottom: 30px;
		ul {
			list-style: none;
			li {
				padding: 6px 0;
			}
		}
	}
	.price {
		font-size: 58px;
		.currency {
			color: #ccc;
			font-size: 30px;
			letter-spacing: -10px;
			vertical-align: super;
		}
	}
}

.owl-carousel .pricing-table {
	margin-bottom: 30px;
}

