/*
 * Shortcode: staff.less
 * -----------------------------------------------
*/

.team-member {
	margin-bottom: 40px;
	.thumb {
		position: relative;
		overflow: hidden;
	}
	&:hover .thumb {}
	.title {}
	.sub-title {
		color: @black-444;
		font-weight: 400;
	}
	.details {
		margin-bottom: 20px;
	}
	.team-contact-info {
		list-style: none;
		li {
			font-size: 13px;
			color: @black-444;
			i {
				margin-right: 10px;
			}
		}
	}
}

.owl-carousel .team-member {
	margin-bottom: 30px;
}

.staff-single-wrapper {
	.staff-sidebar {
		ul {
			padding-left: 0;
		}
	}
	.staff-content {}
}


/* staff-single-wrapper */

.staff-single-wrapper {
	.staff-sidebar {
		.list-group-item-title {
			text-transform: uppercase;
		}
	}
}

