/*
 * blog.less
 * -----------------------------------------------
*/
.main-content-area {
	article {
		margin-bottom: 40px;
		.entry-title {
			margin-top: 0;
			a {
				font-weight: 700;
			}
		}
		.post-thumb {
			margin-bottom: 15px;
		}
		.entry-meta{
			font-size: 12px;
			margin-bottom: 10px;
			i {
				margin-right: 5px;
			}
			a {
			}
		}
		.post-excerpt {
			margin-bottom: 20px;
		}
		&.sticky {
			background: @white-f1;
			padding: 30px;
		}
	}
}
.gallery-isotope .gallery-item {
	article {
		margin-bottom: 0;
	}

}
blockquote {
	background: #f0f5fc;
	border-left: 0;
	padding: 30px 30px 40px 80px;
	position: relative;
	p {
		font-size: 24px;
		font-style: italic;	
		font-family: @font-playfair;
		line-height: 1.6;	
		margin-top: 0;
	}
	&.highlighted-quote {
		background: @black-333;
		color: @white-f5;
	}
	.small, footer, small {
		color: @gray-aaa;
	}
	footer cite {
	}
	&.quote-icon {
		&:after {
			bottom: 0;
			content: "\f10e";
			font-family: fontawesome;
			font-size: 48px;
			opacity: 0.2;
			position: absolute;
			right: 15px;
		}
	}
	&:before {
		color: @white-base;
		content: "\7b";
		font-family: ElegantIcons;
		font-size: 100px;
		opacity: 0.2;
		position: absolute;
		left: 0;
		top: -48px;
		transform: rotate(180deg);
	}
}
pre {
	background-color: #f0f5fc;
	border: 1px solid #e5eaf1;
}
@media only screen and (min-width : 768px) {
.post-standard-1col-classic {
	.entry-header {
		border-radius: 2px;
		float: left;
		margin-right: 25px;
		width: 45%;
	}
}
}


/* Top Nav Search Button & Form */
#top-nav-search-btn {
	.search-icon {
		color: #555;
		font-size: 17px;
		line-height: 1;
		padding: 5px;
		&:hover {
			color: #888;
		}
	}
	@media only screen and (max-width: 1079px) {
		margin-top: 12px;
	}
}
#top-nav-search-form {
	background: #fff;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99991;
	form {
		margin-bottom: 0;
	}

	input[type="text"] {
		background: transparent;
		border: medium none;
		border-radius: 0;
		box-shadow: none;
		color: #292929;
		font-size: 24px;
		height: 100%;
		left: 15px;
		line-height: normal;
		outline: medium none;
		padding: 0;
		position: absolute;
		top: 0;
		vertical-align: middle;
		width: 90%;
		@media only screen and (max-width: 1079px) {
			font-size: 18px;
		}
	}
	#close-search-btn {
		color: #bbbbbb;
		float: right;
		font-size: 28px;
		line-height: 75px;
		margin: 0 15px 0 0;
		padding: 0;
		&:hover {
			color: #555;
		}
		@media only screen and (max-width: 1079px) {
			line-height: 60px;
		}
	}
}