/*
 * blog-single.less
 * -----------------------------------------------
*/
body.single {
	.main-content-area {
		article {
			margin-bottom: 0;
			border-bottom: none;
			.entry-meta{
				margin-bottom: 30px;
				li {
					position: relative;
					padding-left: 10px;
					i {
						margin: 0 5px 0 0;
						vertical-align: baseline;
					}
					&:after {
						content: '';
						width: 1px;
						height: 12px;
						background: #dddddd;
						position: absolute;
						left: 0;
						top: 3px;
					}
					&:first-child:after {
						display: none;
					}
				}
			}
		}
		.entry-title {
			margin-top: 0;
		}
	}
	.entry-content {
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			margin-top: 30px;
			&:first-child {
				margin-top: 0;
			}
			a:hover {
				color: darken(@headings-color, 25%);
			}
		}
		.post-content,
		.post-excerpt {
			a, p a {
				color: @brand-primary;
				&:hover {
					color: darken(@link-color, 25%);
					text-decoration: underline;
				}
			}
		}
	}
	.single-post-tags {
		margin: 0 0 30px;
		span {
			color: @black-333;
			font-size: 14px;
			text-transform: uppercase;
		}
		li {
			margin: 5px 0;
		}
		a {
			background-color: @gray-eee;
			border-radius: 3px;
			color: @black-777;
			font-size: 12px;
			padding: 5px 10px;
			text-transform: capitalize;
			&:hover {
				background-color: @black-555;
				color: @gray-eee;
			}
		}
	}
	.social-share-icons {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		margin: 0 0 30px;
		padding: 20px 0;
		.title {
			display: inline-block;
			margin-right: 10px;
		}
		.styled-icons {
			display: inline-block;
			a {
				float: none;
			}
		}
		.social-share-icons-text {
			display: inline-block;
		}
	}
	.pre-next-post-link {
		border-bottom: 1px solid #eee;
		margin: 0 0 40px;
		padding: 10px 0 30px;
		vertical-align: middle;
		.pre-post-link,
		.next-post-link {
			display: table;
			height: 100%;
			position: relative;
			width: 100%;
			> * {
				display: table-cell;
				height: 100%;
				position: relative;
				vertical-align: middle;
			}
			.title {
				margin-top: 0;
				margin-bottom: 0;
			}
			a {
				font-size: 13px;
			}
			> a {
				font-size: 24px;
			}
		}
	}
	.author-info {
		background: #f8f8f8;
		border: 1px solid #eee;
		margin: 0 0 40px;
		padding: 30px 30px 20px;
		.author-thumb {
			float: left;
			margin-right: 30px;
		}
		.author-description {
			margin-left: 110px;
			.author-title {
				.author-title-label {
					font-weight: bold;
				}
			}
			.author-text {
				font-size: 14px;
			}
		}
	}
	.related-posts {
		margin: 0 0 40px;
		border-bottom: 1px solid #eee;
		.title {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
		article {
			.entry-date {
				font-size: 12px;
			}
			.post-excerpt {
				font-size: 13px;
			}
			.entry-meta {
				margin-bottom: 10px;
			}
		}
	}
}
body.single.single-post .related-posts article .entry-title {
	margin-bottom: 0;
	margin-top: 10px;
}

body.single {
	.post-single.drop-caps {
		.entry-content {
			.post-content,
			.post-excerpt {
				> p:first-child:first-letter {
					color: @black-222;
					float: left;
					font-size: 75px;
					line-height: 0.85;
					padding-top: 4px;
					padding-right: 8px;
					padding-left: 0;
				}
			}
		}
	}
}
		
.comments-area {
	.comments-title {
		.title {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}

	.comment-list { 
		margin: 0 0 40px;
		border-bottom: 1px solid #eee;
		.comment,
		.pingback {
			background: #fafafa;
			padding: 20px 20px 0;
			margin-top: 10px;
			margin-bottom: 0;
			list-style: none;
			.comment,
			.pingback {
				padding-right: 5px;
			}
			
			.comment-item-wrapper {
				border-bottom: 1px solid #ddd;
				.comment-thumb {
					padding-right: 25px;
				}
				.comment-body {
					padding: 0 0 25px;

					.comment-reply-link {
						font-size: 13px;
					}

					.comment-author-name {
						font-size: 18px;
						line-height: 1;
					}
					.comment-metadata {
						font-size: 12px;
					}
					.comment-content {
						p {
							font-size: 14px;
							margin-top: 10px;
						}
						blockquote {
							p {
								margin-top: 0;
							}
						}
					}
				}
			}
		}


		@media only screen and (max-width : 991px) {
			.comment,
			.pingback {
				padding: 15px 15px 0;
				ol ol, ol ul, ul ol, ul ul {
					padding-left: 5px;
				}
			}
		}
		@media only screen and (max-width : 767px) {
			.comment,
			.pingback {
				padding: 12px 12px 0;
			}
		}
		@media only screen and (max-width : 479px) {
			.comment,
			.pingback {
				padding: 12px 0 0;
			}
		}
	}

	.comment-respond {
		margin-top: 60px;
		.comment-reply-title {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0;

			#cancel-comment-reply-link {
				font-size: 13px;
			}
		}
		.form-group {
			label {
				font-size: 14px;
			}
			.form-control {
				border-radius: 0;
			}
		}
	}
}

.post-password-form {
	margin-bottom: 20px;
	label {
		display: block;
		text-transform: uppercase;
	}
	input[type="password"] {
		margin-bottom: 10px;
		background-color: #f5f5f5;
		border-radius: 0;		
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 10px;
	a,
	> span {
		border: 1px solid #d1d1d1;
		border-radius: 2px;
		display: inline-block;
		font-size: 13px;
		text-align: center;
		padding: 3px 10px;
		margin-right: 10px;
	}

	a {
		background-color: #f5f5f5;
		border-color: #ddd;
		color: #fff;
		&:hover,
		&:focus {
			background-color: #007acc;
			border-color: transparent;
			color: #fff !important;
			text-decoration: none !important;
		}
	}
	> .page-links-title {
		border: 0;
		color: #1a1a1a;
		height: auto;
		margin: 0 15px 0 0;
		padding: 0;
		width: auto;
	}
}

.gallery {
	margin-bottom: 30px;
	.gallery-item {
		display: inline-block;
		padding: 1.79104477%;
		text-align: center;
		vertical-align: top;
		width: 100%;
		margin: 0;
	}
	&.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
	&.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}
	&.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
	&.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}
	&.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}
	&.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}
	&.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}
	&.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
	.gallery-icon img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.gallery-caption {
		color: #707070;
		color: rgba(51, 51, 51, 0.7);
		display: block;
		font-size: 12px;
		line-height: 1.5;
		padding: 0.5em 0;
	}
	&.gallery-columns-6 .gallery-caption, 
	&.gallery-columns-7 .gallery-caption, 
	&.gallery-columns-8 .gallery-caption, 
	&.gallery-columns-9 .gallery-caption {
		display: none;
	}
}

.video-player-wrapper {
	video {
		width: 100% !important;
	}
}