/*
 * blog-sidebar.less
 * -----------------------------------------------
*/
.sidebar-area {
	.widget {
		.widget-title {
			font-size: 16px;
			margin-bottom: 10px;

			&.widget-title-line-bottom {
				position: relative;
				margin-bottom: 15px;
				padding-bottom: 5px;

				&:after {
					background: #bbb;
					content: "";
					height: 2px;
					left: 0;
					position: absolute;
					bottom: -1px;
					width: 50px;
				}
			}
		}
	}
}
