/*
 * post-format.less
 * -----------------------------------------------
*/
.post {
	&.format-link {
		.post-link {
			margin-bottom: 10px;
			padding: 50px 30px;
			font-size: 18px;
			span {
				font-size: 13px;
			}
		}
	}
}