/*
 * search-results.less
 * -----------------------------------------------
*/

body.search-results {
	.main-content-area {
		article {
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #f5f5f5;
		}
	}
}