/*
 * Shortcode: final-countdown.less
 * -----------------------------------------------
*/
.final-countdown {
	span {
		display: inline-block;
		font-size: 1.4em;
		line-height: 2em;
		padding: 0 5px;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	}
}