/*
 * Shortcode: funfacts.less
 * -----------------------------------------------
*/
.funfact{
	.transition(all 0.5s ease);

	i {
	font-size: 45px;
	}

	.animate-number {
		line-height: 1;
	}
	&.funfact-lefticon {
		.details {
			margin-left: 60px;
		}
	}
}