/*
 * Shortcode: opening-hours.less
 * -----------------------------------------------
*/
.opening-hours {
	list-style: none;
	padding: 0;
	
	li {
		border-bottom: 1px solid @gray-eee;
		padding: 10px 0;
		margin-bottom: 0 !important;
		&:last-child {
			border-bottom: 0;
		}
		span {
			float: left;
		}
		.value {
			float: right;
		}
		&.active {
			font-weight: bold;
		}
	}
	&.border-light li {
		border-bottom-color: @gray-ddd;
	}
	&.border-dark li {
		border-bottom-color: #333;
	}
}