/*
 * Shortcode: styled-icons.less
 * -----------------------------------------------
*/

.styled-icons {
	li {
		display: inline-block;
		margin-bottom: 5px;
		margin-top: 0;
	}
	a {
		border: 2px solid transparent;
		color: @black-333;
		display: inline-block;
		font-size: 16px;
		height: 36px;
		line-height: 1.9;
		margin-right: 4px;
		position: relative;
		text-align: center;
		text-decoration: none;
		width: 36px;

		.transition(all .3s ease);

		i {
			height: 100%;
			line-height: 1.9;
			position: relative;
			top: 0;
			width: 100%;
			.transition(all .3s ease);
		}

		&:hover {
			color: lighten(@gray-base, 10%);
		}
	}
	
	&.styled-icons-effect-rollover {
		a {
			overflow: hidden;
			vertical-align: middle;
			i {
			}
			&:hover {
				i {
					top: -100%;
				}
				
			}
		}
	}
	
	&.styled-icons-effect-rotate {
		a {
			i {
			}
			&:hover {
				i {
					.rotate(360deg);
				}
				
			}
		}
	}



	// Icon bordered
	&.icon-bordered {
		a {
			border-color: @black-555;

			&:hover {
				background-color: @black-555;
				color: @white-base;
			}
		}
	}



	// Icon gray
	&.icon-gray {
		@icon-gray-bg: @gray-eee;
		@icon-gray-color: @black-555;

		a {
			background-color: @icon-gray-bg;
			color: @icon-gray-color;

			&:hover {
				background-color: darken(@icon-gray-bg, 10%);
				color: darken(@icon-gray-color, 20%);
			}
		}

		//icon bordered
		&.icon-bordered {
			a {
				background-color: transparent;
				border-color: @icon-gray-bg;

				&:hover {
					background-color: darken(@icon-gray-bg, 10%);
					border-color: darken(@icon-gray-bg, 10%);
				}
			}

		}
	}




	// Icon dark
	&.icon-dark {
		@icon-dark-bg: @black-333;
		@icon-dark-color: @white-base;

		a {
			background-color: @icon-dark-bg;
			color: @icon-dark-color;

			&:hover {
				background-color: darken(@icon-dark-bg, 20%);
				color: darken(@icon-dark-color, 20%);
			}
		}

		//icon bordered
		&.icon-bordered {
			a {
				background-color: transparent;
				border-color: @icon-dark-bg;
				color: @icon-dark-bg;
				
				&:hover {
					background-color: @icon-dark-bg;
					color: @icon-dark-color;
				}
			}

		}
	}




	// Icon rounded
	&.icon-rounded {
		a {
			border-radius: 3px;
		}		
	}



	// Icon rounded
	&.icon-circled {
		a {
			border-radius: 50%;
		}		
	}



	// Icon sm
	&.icon-sm {
		a {
			font-size: 13px;
		height: 30px;
		width: 30px;
		}
	}



	// Icon md
	&.icon-md {
		a {
			font-size: 20px;
		height: 45px;
		width: 45px;
		}
	}



	// Icon lg
	&.icon-lg {
		a {
			font-size: 25px;
			height: 55px;
			width: 55px;
		}
	}



	// Icon xl
	&.icon-xl {
		a {
			font-size: 30px;
			height: 65px;
			width: 65px;
		}
	}
}
