<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Shortcodes &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/shortcodes/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Shortcode Overview</title>
		<link>http://documentation.kodesolution.net/kb/shortcode-overview/</link>
		<pubDate>Sun, 06 Aug 2017 15:19:21 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=304</guid>
		<description><![CDATA[&#8216;Medicale&#8217; Theme provides almost 23 shortcodes those are very easy to use.]]></description>
				<content:encoded><![CDATA[<p><strong>&#8216;Medicale&#8217;</strong> Theme provides almost <strong>23 shortcodes</strong> those are very easy to use.</p>
<p><img class="alignnone size-full wp-image-307" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview.jpg" alt="" width="1903" height="939" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview.jpg 1903w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-300x148.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-768x379.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-1024x505.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-50x25.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-920x454.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-600x296.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-320x158.jpg 320w" sizes="(max-width: 1903px) 100vw, 1903px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
