<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Basic Theme Setup &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/basic-theme-setup/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Set up a static Front Page &#038; Posts page</title>
		<link>http://documentation.kodesolution.net/kb/set-up-a-static-front-page-posts-page/</link>
		<pubDate>Sat, 15 Jul 2017 06:04:06 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=171</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
			</item>
		<item>
		<title>Set Up Social Icons</title>
		<link>http://documentation.kodesolution.net/kb/set-up-social-icons/</link>
		<pubDate>Sat, 15 Jul 2017 06:04:56 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=173</guid>
		<description><![CDATA[For set up favicons just go to Theme Options -&#62; Social Links and follow like bellow the image:]]></description>
				<content:encoded><![CDATA[<p>For set up <strong>favicons </strong>just go to <strong>Theme Options -&gt; Social Links</strong> and follow like bellow the image:</p>
<p><img class="alignnone size-full wp-image-254" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons.jpg" alt="" width="1904" height="1032" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-300x163.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-768x416.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-1024x555.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-920x499.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-600x325.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-setup-social-icons-320x173.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Set Up Favicons</title>
		<link>http://documentation.kodesolution.net/kb/set-up-favicons/</link>
		<pubDate>Sat, 15 Jul 2017 06:05:31 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=175</guid>
		<description><![CDATA[For set up favicons just go to Theme Options -&#62; General and follow like bellow the image:]]></description>
				<content:encoded><![CDATA[<p>For set up <strong>favicons </strong>just go to <strong>Theme Options -&gt; General</strong> and follow like bellow the image:</p>
<p><img class="alignnone wp-image-247 size-full" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon.jpg" alt="" width="1905" height="1072" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon.jpg 1905w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-300x169.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-768x432.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-1024x576.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-50x28.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-920x518.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-600x338.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-favicon-320x180.jpg 320w" sizes="(max-width: 1905px) 100vw, 1905px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Set Up Logo</title>
		<link>http://documentation.kodesolution.net/kb/set-up-logo/</link>
		<pubDate>Sat, 15 Jul 2017 06:05:56 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=177</guid>
		<description><![CDATA[For set up favicons just go to Theme Options -&#62; Logo and follow like bellow the image:]]></description>
				<content:encoded><![CDATA[<p>For set up <strong>favicons </strong>just go to <strong>Theme Options -&gt; Logo</strong> and follow like bellow the image:</p>
<p><img class="alignnone size-full wp-image-251" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo.jpg" alt="" width="1904" height="1005" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-300x158.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-768x405.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-1024x541.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-50x26.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-920x486.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-600x317.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-logo-320x169.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Set Up Theme Color</title>
		<link>http://documentation.kodesolution.net/kb/set-up-theme-color/</link>
		<pubDate>Sat, 15 Jul 2017 06:06:25 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=179</guid>
		<description><![CDATA[For set up favicons just go to Theme Options -&#62; Theme Color Settings and follow like bellow the image:]]></description>
				<content:encoded><![CDATA[<p>For set up <strong>favicons </strong>just go to <strong>Theme Options -&gt; Theme Color Settings</strong> and follow like bellow the image:</p>
<p><img class="alignnone size-full wp-image-258" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color.jpg" alt="" width="1904" height="899" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-300x142.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-768x363.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-1024x483.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-920x434.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-600x283.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-theme-color-320x151.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
