<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Demo Content &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/demo-content/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>One Click Demo Import</title>
		<link>http://documentation.kodesolution.net/kb/one-click-demo-import/</link>
		<pubDate>Sat, 15 Jul 2017 06:02:28 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=169</guid>
		<description><![CDATA[Import your demo content, widgets and theme settings with one click. It&#8217;s as simple as clicking one button! To import demo data, make sure that &#8216;One Click Demo Import&#8217; plugin is installed and active. Installation Process 1: 1. From your WordPress dashboard visit Appearance &#62; Install Plugins. 2. Search for [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Import your demo content, widgets and theme settings with one click. It&#8217;s as simple as clicking one button! To import demo data, make sure that &#8216;One Click Demo Import&#8217; plugin is installed and active.</p>
<p>Installation Process 1:<br />
1. From your WordPress dashboard visit Appearance &gt; Install Plugins.<br />
2. Search for &#8216;One Click Demo Import&#8217; and install/activate the plugin.</p>
<p>Installation Process 2:<br />
1. From your WordPress dashboard visit &#8216;Plugins &gt; Add New&#8217;.<br />
2. Search for &#8216;One Click Demo Import&#8217; and install/activate the plugin.</p>
<p>Demo Import Instructions:<br />
1. Once the plugin is activated you will find the actual import page in: Appearance -&gt; Import Demo Data.</p>
<p>See the Screenshots Tab for more details.</p>
<p><img class="alignnone wp-image-313 size-full" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import.jpg" alt="" width="1904" height="1011" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-300x159.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-768x408.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-1024x544.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-920x489.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-600x319.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/one-click-import-320x170.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
