/*
 * blog-list.less
 * -----------------------------------------------
*/
.widget {
	.post {
		border-bottom: none;
		margin-bottom: 10px;
		padding-bottom: 10px;
		.post-thumb {
			float: left;
			margin-right: 15px;
		}
		.post-title {
			margin-top: 0;
			margin-bottom: 5px;
			a {
				font-size: 14px;
				letter-spacing: 0;
			}
		}
	}
}
