.widget.widget_calendar {
	table {
		width: 100%;
	}
	table,
	th,
	td {
		border: 1px solid rgba(51, 51, 51, 0.1);
	}
	th {	
		border-width: 0 1px 1px 0;
		font-weight: 700;
	}
	td,
	th {	
		line-height: 2.3333;
		padding: 8px;
		text-align: center;
		line-height: 1.1em;
	}
	#today {
		background: @black-444 none repeat scroll 0 0;
		color: @white;
		font-weight: 700;
		> a {
			color: @white;
			font-weight: 700;
		}
	}
}

footer#footer {
	&.footer-black {
		.widget_calendar {
			table,
			th,
			td {
				border: 1px solid #333;
			}
			#today {
				background: @gray-ccc;
				color: @black-333;
				font-weight: 700;
				> a {
					color: @black-333;
					font-weight: 700;
				}
			}
		}
	}
}