/*
 * company-info.less
 * -----------------------------------------------
*/

.widget-company-info {
	li {
		clear: both;
		font-size: 14px;
		margin-bottom: 8px;
		i {
			color: @gray-aaa;
			float: left;
			height: 30px;
			line-height: 30px;
			margin-right: 6px;
			text-align: center;
			vertical-align: middle;
			width: 30px;
		}
	}
}