/*
 * contact-info.less
 * -----------------------------------------------
*/

.widget-contact-info {
	.contact-info-style1 {

		li {
			font-size: 14px;
			i {
				color: @gray-aaa;
				height: 30px;
				line-height: 30px;
				margin-right: 3px;
				text-align: center;
				vertical-align: middle;
				width: 30px;
			}
		}
	}
}