/*
 * featured-page.less
 * -----------------------------------------------
*/

.widget-featured-page {
	.page {
		.page-content {
			a {
				margin-bottom: 2px solid @gray-bbb;
			}
		}
	}
	
}