/*
 * flickr-feed.less
 * -----------------------------------------------
*/
#flickr-feed img {
	background: #000 none repeat scroll 0 0;
	float: left;
	height: 100%;
	padding: 0;
	width: 100%;
}