/*
 * mailchimp-subscribe-form.less
 * -----------------------------------------------
*/
.mc4wp-form {
	.form-control {
		background-color: @black-333;
		border-color: @black-444;
		border-radius: 0;
		box-shadow: none;
		color: @black-888;
		height: 46px;
		font-size: 13px;
	}
	.input-group-btn {
		.btn {
			padding: 12px 16px 13px;
			background-color: @black-555;
			border-color: @black-555;
			color: @gray-eee;
			&:hover {
				background-color: @black-444;
			}
		}
	}
	
}