/*
 * widgets-common.less
 * -----------------------------------------------
*/
@widget-margin-bottom: 40px;
.widget {
	margin-bottom: @widget-margin-bottom;
	font-size: 13px;
	ul {
		li {
			list-style: none;
		}
	}
	.widget-title {
		margin-bottom: 20px;
		margin-top: 0;
	}

	&.widget_pages ul li a::before,
	&.widget_recent_entries ul li a::before,
	&.widget_categories ul li a::before,
	&.widget_meta ul li a::before,
	&.widget_archive ul li a::before,
	&.widget_nav_menu ul li a::before {
		content: "\f105";
		display: block;
		float: right;
		font-family: FontAwesome;
	}
	&.widget_recent_comments {
		ul {
			> li	{
			&::before {
				content: "\f105";
				display: block;
				float: left;
				font-family: FontAwesome;
			}
			span {
				padding-left: 7px;
			}
			}
		}
	}
	&.widget_categories ul li,
	&.widget_archive ul li {
	&::before {
		content: "\f114";
		display: block;
		float: left;
		font-family: FontAwesome;
	}
	a {
		padding-left: 7px;
	}
	}

	&.widget_archive,
	&.widget_categories,
	&.widget_links,
	&.widget_meta,
	&.widget_nav_menu,
	&.widget_pages,
	&.widget_recent_comments,
	&.widget_recent_entries {
	ul {
		> li {
		padding: 8px 0;
		border-top: 1px solid rgba(51, 51, 51, 0.1);
		&:first-child {
			border-top: none;
		}
		}
	}
	}
	&.widget_nav_menu {
	.sub-menu {
		padding-left: 10px;
	}
		ul {
			li {
				padding: 0;
				&:first-child {
					border-top: 1px solid rgba(51, 51, 51, 0.1);
				}
				a {
					display: block;
					padding: 10px 15px 10px 0;
				}
			}
		}
	}

	&.widget_tag_cloud {
		.tagcloud {
			> a {
				background-color: rgba(0, 0, 0, 0.05);
				border: medium none;
				border-radius: 2px;
				color: @black-444;
				display: inline-block;
				font-size: 12px !important;
				margin: 3px 2px;
				padding: 4px 8px 2px;
				.transition(all 0.3s ease);
				&:hover {
					background: @black-333;
					color: #fff;
				}
			}
		}
	}
	
	select {
		border: 1px solid rgba(51, 51, 51, 0.1);
		max-width: 100%;
		padding: 7px 10px;
		width: 100%;
	}

	&.widget_rss {
		ul {
			li {
				margin-bottom: 25px;
				.rsswidget {
					display: block;
				}
				.rss-date {
					color: @black-999;
				}
				.rssSummary {
					color: @black-888;
				}
				cite {
					color: @black-999;
				}
			}
		}
	}
}

footer#footer {
	&.footer-black {
	.widget {
		&.widget_archive,
		&.widget_categories,
		&.widget_links,
		&.widget_meta,
		&.widget_nav_menu,
		&.widget_pages,
		&.widget_recent_comments,
		&.widget_recent_entries {
		ul {
			> li {
				border-top-color: rgba(51, 51, 51, 0.4);
			}
		}
		}
		&.widget_rss {
		ul {
			li {
			.rss-date {
				color: darken(@footer-primary-text-color, 20%);
			}
			cite {
				color: lighten(@footer-primary-text-color, 10%);
			}
			}
		}
		}
		&.widget_tag_cloud {
			.tagcloud {
				> a {
					background-color: rgba(0, 0, 0, 0.25);
					color: @gray-ccc;
				}
			}
		}
	}
	}
	&.footer-inverted {
		.widget {
				&.widget_archive,
				&.widget_categories,
				&.widget_links,
				&.widget_meta,
				&.widget_nav_menu,
				&.widget_pages,
				&.widget_recent_comments,
				&.widget_recent_entries {
				ul {
					> li {
						border-top-color: rgba(55, 55, 55, 0.1);
					}
				}
			}
		}
	}
}