<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>WooCommerce &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/woocommerce/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>WooCommerce &#8211; Installing</title>
		<link>http://documentation.kodesolution.net/kb/woocommerce-installing/</link>
		<pubDate>Thu, 13 Jul 2017 14:08:23 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=33</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
			</item>
		<item>
		<title>WooCommerce &#8211; General Settings</title>
		<link>http://documentation.kodesolution.net/kb/woocommerce-general-settings/</link>
		<pubDate>Thu, 13 Jul 2017 14:09:21 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=40</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[]]></content:encoded>
			</item>
		<item>
		<title>Flat Rate</title>
		<link>http://documentation.kodesolution.net/kb/flat-rate/</link>
		<pubDate>Thu, 13 Jul 2017 15:12:37 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=74</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/9wjbfa8kte.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_9wjbfa8kte videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>Free Shipping</title>
		<link>http://documentation.kodesolution.net/kb/free-shipping/</link>
		<pubDate>Thu, 13 Jul 2017 15:15:48 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=78</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/po191fmvy9.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_po191fmvy9 videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>Local Pickup</title>
		<link>http://documentation.kodesolution.net/kb/local-pickup/</link>
		<pubDate>Thu, 13 Jul 2017 15:17:49 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=80</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/pe95ph0apb.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_pe95ph0apb videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>Checkout Settings</title>
		<link>http://documentation.kodesolution.net/kb/checkout-settings/</link>
		<pubDate>Thu, 13 Jul 2017 15:19:36 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=82</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/65yjv96z51.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_65yjv96z51 videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>BACS</title>
		<link>http://documentation.kodesolution.net/kb/bacs/</link>
		<pubDate>Thu, 13 Jul 2017 15:21:57 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=84</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/dh4piy3sek.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_dh4piy3sek videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>Check Payments</title>
		<link>http://documentation.kodesolution.net/kb/check-payments/</link>
		<pubDate>Thu, 13 Jul 2017 15:23:46 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=86</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/u2m2kcakea.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_u2m2kcakea videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>Cash On Delivery</title>
		<link>http://documentation.kodesolution.net/kb/cash-on-delivery/</link>
		<pubDate>Thu, 13 Jul 2017 15:26:03 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=89</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/8hyli8wu5f.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_8hyli8wu5f videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
		<item>
		<title>PayPal Standard</title>
		<link>http://documentation.kodesolution.net/kb/paypal-standard/</link>
		<pubDate>Thu, 13 Jul 2017 15:28:03 +0000</pubDate>
		<dc:creator><![CDATA[monirul]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=91</guid>
		<description><![CDATA[]]></description>
				<content:encoded><![CDATA[<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="video">
   <script src="//fast.wistia.com/embed/medias/rbl7e7l4k2.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
   <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
         <div class="wistia_embed wistia_async_rbl7e7l4k2 videoFoam=true" style="height:100%;width:100%"> </div>
      </div>
   </div>
</div>
<!-- /.video -->
		</div>
	</div>
</div></div></div></div>
]]></content:encoded>
			</item>
	</channel>
</rss>
