/*
 * blog.less
 * -----------------------------------------------
*/
.post {
	.entry-content {
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			a:hover {
				color: @theme-color;
			}
		}
		.post-content,
		.post-excerpt {
			a, p a {
				color: @theme-color;
				&:hover {
					color: darken(@theme-color, 15%);
					text-decoration: underline;
				}
			}
		}
	}
	.entry-meta{
		i {
			color: @theme-color;
		}
		a:hover {
			color: @theme-color;
		}
	}
}

body.single {
	.single-post-tags {
		a {
			&:hover {
				background-color: @theme-color;
			}
		}
	}
}