/*
 * common.less
 * -----------------------------------------------
*/


/* text-theme-color */
.text-theme-colored {
  color: @theme-color !important;
}
/* text-hover-theme-color */
.text-hover-theme-colored {
  &:hover {
    color: @theme-color !important;
  }
}

/* background-theme-color */
.bg-theme-colored {
  background-color: @theme-color !important;
}
.bg-theme-colored-lighter2 {
  background-color: lighten(@theme-color, 3%) !important;
}
.bg-theme-colored-lighter3 {
  background-color: lighten(@theme-color, 5%) !important;
}
.bg-theme-colored-lighter4 {
  background-color: lighten(@theme-color, 7%) !important;
}
.bg-theme-colored-darker2 {
  background-color: darken(@theme-color, 3%) !important;
}
.bg-theme-colored-darker3 {
  background-color: darken(@theme-color, 5%) !important;
}
.bg-theme-colored-darker4 {
  background-color: darken(@theme-color, 7%) !important;
}

/* background-color-transparent */
.bg-theme-colored-transparent-9 {
  background-color: fade(@theme-color, 90%);
}
.bg-theme-colored-transparent-8 {
  background-color: fade(@theme-color, 80%);
}
.bg-theme-colored-transparent-7 {
  background-color: fade(@theme-color, 70%);
}
.bg-theme-colored-transparent-6 {
  background-color: fade(@theme-color, 60%);
}
.bg-theme-colored-transparent-5 {
  background-color: fade(@theme-color, 50%);
}
.bg-theme-colored-transparent-4 {
  background-color: fade(@theme-color, 40%);
}
.bg-theme-colored-transparent-3 {
  background-color: fade(@theme-color, 30%);
}
.bg-theme-colored-transparent-2 {
  background-color: fade(@theme-color, 20%);
}
.bg-theme-colored-transparent-1 {
  background-color: fade(@theme-color, 10%);
}
.bg-theme-colored-transparent {
  background-color: fade(@theme-color, 75%) !important;
}

/* bg-hover-theme-color */
.bg-hover-theme-colored {
  &:hover {
    background: @theme-color !important;
    border-color: @theme-color !important;
    color: @white-base !important;
    
    h1,h2,h3,h4,h5,h6,p,a,i {
      color: @white-base !important;
    }
  }
}

/* Layer-overlay */
.overlay-theme-colored-1:before {
  background-color: fade(@theme-color, 10%) !important;
}
.overlay-theme-colored-2:before {
  background-color: fade(@theme-color, 20%) !important;
}
.overlay-theme-colored-3:before {
  background-color: fade(@theme-color, 30%) !important;
}
.overlay-theme-colored-4:before {
  background-color: fade(@theme-color, 40%) !important;
}
.overlay-theme-colored-5:before {
  background-color: fade(@theme-color, 50%) !important;
}
.overlay-theme-colored-6:before {
  background-color: fade(@theme-color, 60%) !important;
}
.overlay-theme-colored-7:before {
  background-color: fade(@theme-color, 70%) !important;
}
.overlay-theme-colored-8:before {
  background-color: fade(@theme-color, 80%) !important;
}
.overlay-theme-colored-9:before {
  background-color: fade(@theme-color, 90%) !important;
}


/* border-theme-color */
.border-theme-colored {
  border-color: @theme-color !important;
}
.border-theme-color-1px {
  border: 1px solid @theme-color !important;
}
.border-theme-color-2px {
  border: 2px solid @theme-color !important;
}
.border-theme-color-1px {
  border: 3px solid @theme-color !important;
}
.border-theme-color-1px {
  border: 4px solid @theme-color !important;
}
.border-theme-color-1px {
  border: 1px solid @theme-color !important;
}
.border-theme-color-1px {
  border: 1px solid @theme-color !important;
}
.border-theme-color-1px {
  border: 1px solid @theme-color !important;
}
.border-top-theme-color-1px {
  border-top: 1px solid @theme-color !important;
}
.border-top-theme-color-2px {
  border-top: 2px solid @theme-color !important;
}
.border-top-theme-color-3px {
  border-top: 3px solid @theme-color !important;
}
.border-top-theme-color-4px {
  border-top: 4px solid @theme-color !important;
}
.border-top-theme-color-5px {
  border-top: 5px solid @theme-color !important;
}
.border-top-theme-color-6px {
  border-top: 6px solid @theme-color !important;
}
.border-top-theme-color-7px {
  border-top: 7px solid @theme-color !important;
}
.border-top-theme-color-8px {
  border-top: 8px solid @theme-color !important;
}
.border-top-theme-color-9px {
  border-top: 9px solid @theme-color !important;
}
.border-top-theme-color-10px {
  border-top: 10px solid @theme-color !important;
}

/*Theme Colored Red Border-bottom-color*/
.border-bottom-theme-color-1px {
  border-bottom: 1px solid @theme-color !important;
}
.border-bottom-theme-color-2px {
  border-bottom: 2px solid @theme-color !important;
}
.border-bottom-theme-color-3px {
  border-bottom: 3px solid @theme-color !important;
}
.border-bottom-theme-color-4px {
  border-bottom: 4px solid @theme-color !important;
}
.border-bottom-theme-color-5px {
  border-bottom: 5px solid @theme-color !important;
}
.border-bottom-theme-color-6px {
  border-bottom: 6px solid @theme-color !important;
}
.border-bottom-theme-color-7px {
  border-bottom: 7px solid @theme-color !important;
}
.border-bottom-theme-color-8px {
  border-bottom: 8px solid @theme-color !important;
}
.border-bottom-theme-color-9px {
  border-bottom: 9px solid @theme-color !important;
}
.border-bottom-theme-color-10px {
  border-bottom: 10px solid @theme-color !important;
}

/*Theme Colored Red Border-left-color*/
.border-left-theme-color-1px {
  border-left: 1px solid @theme-color !important;
}
.border-left-theme-color-2px {
  border-left: 2px solid @theme-color !important;
}
.border-left-theme-color-3px {
  border-left: 3px solid @theme-color !important;
}
.border-left-theme-color-4px {
  border-left: 4px solid @theme-color !important;
}
.border-left-theme-color-5px {
  border-left: 5px solid @theme-color !important;
}
.border-left-theme-color-6px {
  border-left: 6px solid @theme-color !important;
}
.border-left-theme-color-7px {
  border-left: 7px solid @theme-color !important;
}
.border-left-theme-color-8px {
  border-left: 8px solid @theme-color !important;
}
.border-left-theme-color-9px {
  border-left: 9px solid @theme-color !important;
}
.border-left-theme-color-10px {
  border-left: 10px solid @theme-color !important;
}

/*Theme Colored Red Border-right-color*/
.border-right-theme-color-1px {
  border-right: 1px solid @theme-color !important;
}
.border-right-theme-color-2px {
  border-right: 2px solid @theme-color !important;
}
.border-right-theme-color-3px {
  border-right: 3px solid @theme-color !important;
}
.border-right-theme-color-4px {
  border-right: 4px solid @theme-color !important;
}
.border-right-theme-color-5px {
  border-right: 5px solid @theme-color !important;
}
.border-right-theme-color-6px {
  border-right: 6px solid @theme-color !important;
}
.border-right-theme-color-7px {
  border-right: 7px solid @theme-color !important;
}
.border-right-theme-color-8px {
  border-right: 8px solid @theme-color !important;
}
.border-right-theme-color-9px {
  border-right: 9px solid @theme-color !important;
}
.border-right-theme-color-10px {
  border-right: 10px solid @theme-color !important;
}




/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  .button-variant(@theme-color; @btn-default-bg; @theme-color);
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: @theme-color;
  border-color: @theme-color;
  color: @white-base;
}


/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  .button-variant(@theme-color; @btn-border-bg; @theme-color);
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: darken(@theme-color, 10%);
  border-color: darken(@theme-color, 10%);
  color: @white-base;
}


/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  .button-variant(@btn-dark-color; @theme-color; @theme-color);
}


/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  .button-variant(@white-base; lighten(@theme-color, 10%); lighten(@theme-color, 10%));
}

/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  .button-variant(@btn-primary-color; @theme-color; @theme-color)
}

/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: @white-base;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: @black-111;
  border-color: @black-111;

  &:hover {
    background-color: darken(@black-111, 10%);
    border-color: darken(@black-111, 10%);
  }
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: @theme-color;
  border-color: @theme-color;

  &:hover {
    background-color: darken(@theme-color, 10%);
    border-color: darken(@theme-color, 10%);
  }
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: @gray-lighter;

  &:hover {
    background-color: @gray-lighter;
    color: @black;
  }
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: @theme-color;

  &:hover {
    background-color: @theme-color;
    color: @white-base;
  }
}

.btn-gray.btn-transparent {
  background-color: @gray-lightgray;
  color: @black-333;

  &:hover {
    background-color: lighten(@gray-lightgray, 10%);
    color: darken(@black-333, 10%);
  }
}

.btn-gray.btn-transparent.btn-theme-colored {
  background-color: lighten(@theme-color, 10%);
  color: @white-base;

  &:hover {
    background-color: darken(@theme-color, 10%);
    color: darken(@white-base, 10%);
  }
}

.btn-hover-theme-colored {
  &:hover {
    background-color: @theme-color;
    border-color: @theme-color;
    color: @white-base;
  }
}

/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored {
  a {
    color: @theme-color;
  }

  &.icon-bordered {
    a {
      border-color: @theme-color;

      &:hover {
        background-color: @theme-color;
        color: @white-base;
      }
    }
  }

  &.icon-dark {
    a {
      background-color: @theme-color;
      color: @white-base;

      &:hover {
        background-color: darken(@theme-color, 10%);
        color: darken(@white-base, 10%);
      }
    }

    &.icon-bordered {
      a {
        border-color: @theme-color;
        color: @theme-color;

        &:hover {
          background-color: @theme-color;
          border-color: @theme-color;
          color: @white-base;
        }
      }
    }
  }

  &.icon-gray {
    a {
      color: @theme-color;

      &:hover {
        color: darken(@theme-color, 10%);
      }
    }

    &.icon-bordered {
      a {
        color: @theme-color;

        &:hover {
          background-color: @gray-lighter;
          border-color: @gray-lighter;
          color: @theme-color;
        }
      }
    }
  }
}

.icon-theme-colored {
  a {
    &:hover {
      color: darken(@theme-color, 10%);
    }
  }  
}

.icon-hover-theme-colored {
  a {
    &:hover {
      background-color: @theme-color;
      border-color: @theme-color;
      color: @white-base;
    }
  }  
}

.styled-icons.icon-hover-theme-colored {
  a {
    &:hover {
      background-color: @theme-color;
      border-color: @theme-color;
      color: @white-base;
    }
  }  
}

/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box{
  &.iconbox-theme-colored {
    .icon {
      color: @theme-color;

      &.icon-border-effect {
        &::after {
          box-shadow: 0 0 0 3px @theme-color;
        }
      }

      &.icon-bordered {
        border-color: @theme-color;

        &:hover {
          background-color: @theme-color;
          color: @white-base;
        }
      }

      &.icon-gray {
        &:hover {
          background-color: @theme-color;
          color: @white-base;
        }

        &.icon-bordered {
          border-color: @gray-lighter;

          &:hover {
            background-color: @theme-color;
            border-color: @theme-color;
            color: @white-base;
          }
        }
      }

      &.icon-dark {
        background-color: @theme-color;
        color: @white-base;

        &:hover {
          color: @white-base;
        }

        &.icon-bordered {
          background-color: transparent;
          border-color: @theme-color;
          color: @theme-color;

          &:hover {
            background-color: @theme-color;
            border-color: @theme-color;
            color: @white-base;
          }
        }
      }



      &.icon-white {
        background-color: @white-base;
        color: @theme-color;

        &:hover {
          background-color: @theme-color;
          color: @white-base;
        }

        &.icon-bordered {
          background-color: transparent;
          border-color: @theme-color;
          color: @white-base;

          &:hover {
            background-color: @theme-color;
            border-color: @theme-color;
            color: @white-base;
          }
        }
      }
    }

    &.iconbox-border {
      border-color: @theme-color;
    }
  }
}