/*
 * gallery-isotope.less
 * -----------------------------------------------
*/
.gallery-isotope-filter {
	&.style-flat {
		a.active, 
		a:hover {
			color: @theme-color !important;
		}
	}
	&.style-boxed {
		a.active, 
		a:hover {
			background-color: @theme-color !important;
		}
	}
}