/*
 * header.less
 * -----------------------------------------------
*/

#header.header {
	.header-top {
		.contact-info a:hover {
		}
	}
}
		
.page-title {
	.breadcrumb {
		li a {
			&:hover {
				color: @theme-color;
			}
		}
	}
}