/*
 * other.less
 * -----------------------------------------------
*/
.twitter-feed {
  li {
    &::before {
      color: @theme-color;
    }
  }
}

//other
.progress-item .progress-bar .percent {
  background: @theme-color;
}
.causes .progress-item .progress-bar .percent {
  border-color: @theme-color !important;
}
.team-member .member-info {
     background-color: fade(@theme-color, 70%) !important
}

/* background-color-transparent */
.donate-piechart .piechart canvas {
  background-color: fade(@theme-color, 75%) !important;
  border-radius: 50%;
  max-height: 80px;
}
/* Layer-overlay */
.overlay-theme-colored:before {
  background-color: fade(@theme-color, 80%) !important;
}
/* Layeroverlay */
.post .entry-meta.meta-absolute,
.volunteer .overlay,
.bg-theme-colored-transparent-deep {
  background-color: fade(@theme-color, 90%) !important;
}

.icon-box.box-style1.practice-style3:hover .icon-wrapper,
.zeus .tp-bullet::after {
  background-color: @theme-color;
}

.preloader-dot-loading .cssload-loading i {
  background: @theme-color !important;
}
.services-tab .nav-tabs > li.active > a,
.services-tab .nav-tabs > li.active > a:hover,
.services-tab .nav-tabs > li.active > a:focus,
.services-tab .nav-tabs > li a:hover,
.services-tab .nav-tabs > li a:focus {
  background-color: @theme-color !important;
}
.hover-effect:hover {
  .details {
    background-color: @theme-color !important;
    border-bottom-color: darken(@theme-color, 10%) !important;
  }
  .thumb::after {
    border-color: fade(@theme-color, 30%) !important;
  }
  a {
    background: darken(@theme-color, 10%) !important;
  }
}

/*
 * background: theme-color
 * -----------------------------------------------
*/
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.title-icon::before,
.title-icon::after,
.testimonial .item::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active  > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.title-icon::after,
.title-icon::before,
.line-bottom:after,
.title-dots span {
  background: @theme-color;
}
.ui-state-highlight {
  background: @theme-color !important;
  color: @white-base !important;
}


/*
 * text: theme-color
 * -----------------------------------------------
*/
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i,
.title-icon [class^="flaticon-"]::after, 
.title-icon [class^="flaticon-"]::before,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.pricing-table .table-list li i,
.testimonial-carousel.boxed .content::after,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.attorney-carousel .content .contact-area i,
.attorney-address li i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.horizontal-contact-widget .each-widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.volunteer .info .name a,
.donation-form .form-group label,
.title-icon [class^="flaticon-"]::after, 
.title-icon [class^="flaticon-"]::before,
.services-tab .nav-tabs > li > a i,
#footer.footer .twitter-feed li a {
  color: @theme-color;
}


/*
 * border: theme-color
 * -----------------------------------------------
*/
.icon-box.icon-rounded-bordered i,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid @theme-color;
}
.border-theme-colored {
  border-color: @theme-color;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: @theme-color transparent transparent;
}

/* border-left-color */
blockquote {
    border-left-color: @theme-color;
}
blockquote.theme-colored {
    border-left-color: @theme-color;
}
blockquote.bg-theme-colored {
    border-left-color: darken(@theme-color, 10%);
    color: @white-base;

    footer {
      color: @gray-lighter;
    }
}
blockquote.gray.bg-theme-colored {
    background-color: @gray-lighter !important;
    border-left: 3px solid @theme-color;
    color: @theme-color;
    
    footer {
      color: @gray-light;
    }
}
.attorney-address li {
    border-left: 1px solid @theme-color;
}
.section-title.title-border {
    border-left: 4px solid @theme-color;
}

/* border-top-color */
.member-info {
  border-top: 3px outset @theme-color;
}
.cssload-tri {
  border-top: 27px solid @theme-color;
}

/* border-right-color */
.border-right-red {
  border-right: 1px solid @theme-color;
}
.section-title.title-border.title-right {
    border-right: 4px solid @theme-color;
}

/* border-bottom-color */
// .border-bottom {
//   border-bottom: 1px solid @theme-color;
// }
.event {
  border-bottom-color: @theme-color;
}


.cssload-tri.cssload-invert {
  border-bottom: 27px solid @theme-color;
}
/* box-shadow */