/*
 * shop.less
 * -----------------------------------------------
*/
.woocommerce-product-search {
}

.woocommerce {
	.ui-slider {
		.ui-slider-range {
			background: @theme-color;
		}
	}
}
.woocommerce .product .onsale {
	background: @theme-color;
}