/*
 * widgets.less
 * -----------------------------------------------
*/

.widget {
	&.widget_tag_cloud,
	&.widget_product_tag_cloud {
		.tagcloud {
			> a {
				&:hover {
					background: @theme-color;
				}
			}
		}
	}
}

.widget-brochure-box {
	.brochure-box {
		.brochure-icon {
			color: @theme-color;
		}
		&.brochure-box-theme-colored {
			background: @theme-color;
			.brochure-icon {
				border-right-color: darken(@theme-color, 5%);
				color: #fff;
			}
			.text {
				color: #fff;
			}
			&:hover {
				background: darken(@theme-color, 10%);
				.brochure-icon {
					border-right-color: darken(@theme-color, 15%);
				}
			}
		}
	}
}