<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>FAQ &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/faq/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Mascot Core Plugin</title>
		<link>http://documentation.kodesolution.net/kb/mascot-core-plugin/</link>
		<pubDate>Mon, 07 Aug 2017 06:10:27 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=316</guid>
		<description><![CDATA[For proper theme functioning, the &#8220;Mascot Core&#8221; plugin is required. Installation Instructions: 1. From your WordPress dashboard visit Appearance &#62; Install Plugins. 2. Search for &#8216;Mascot Core&#8216; and install the plugin. 3. Now activate it. 4. Once the plugin is activated you will find full features of the theme including [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>For proper theme functioning, the &#8220;<strong>Mascot Core</strong>&#8221; plugin is required.</p>
<p>Installation Instructions:<br />
1. From your WordPress dashboard visit <strong>Appearance &gt; Install Plugins</strong>.<br />
2. Search for &#8216;<strong>Mascot Core</strong>&#8216; and install the plugin.<br />
3. Now <strong>activate</strong> it.<br />
4. Once the plugin is activated you will find full features of the theme including Custom Post Types, Theme Options, Post Meta etc.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Regenerate Thumbnails</title>
		<link>http://documentation.kodesolution.net/kb/regenerate-thumbnails/</link>
		<pubDate>Mon, 07 Aug 2017 06:10:56 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=318</guid>
		<description><![CDATA[Regenerate Thumbnails allows you to regenerate the thumbnails for your image attachments. This is very handy if you&#8217;ve changed any of your thumbnail dimensions (via Settings -&#62; Media) after previously uploading images or have changed to a theme with different featured post image dimensions. You can either regenerate the thumbnails [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Regenerate Thumbnails allows you to regenerate the thumbnails for your image attachments. This is very handy if you&#8217;ve changed any of your <strong>thumbnail</strong> dimensions (via <strong>Settings -&gt; Media</strong>) after previously uploading images or have changed to a theme with different featured post image dimensions.</p>
<p>You can either regenerate the thumbnails for all image uploads, individual image uploads, or specific multiple image uploads.</p>
<p>See the Screenshots Tab for more details.</p>
<p>Installation and Usage Method:<br />
1. Go to your admin area and select <strong>Plugins -&gt; Add new</strong> from the menu.<br />
2. Search for <strong>&#8216;Regenerate Thumbnails&#8217;</strong>.<br />
3. Click <strong>install</strong>.<br />
4. Click <strong>activate</strong>.<br />
5. Go to <strong>Tools &gt; Regen</strong>. Thumbnails<br />
6. Click &#8220;<strong>Regenerate All Thumbnails</strong>&#8221; button and let the process to finish till it reaches 100 percent.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Flush Rewrite Rules</title>
		<link>http://documentation.kodesolution.net/kb/flush-rewrite-rules/</link>
		<pubDate>Mon, 07 Aug 2017 06:12:15 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=320</guid>
		<description><![CDATA[Remove rewrite rules and then recreate rewrite rules. This method can be used to refresh WordPress&#8217; rewrite rule cache. Generally, this should be used after programmatically adding one or more custom rewrite rules. When it is necessary? -&#62; Usually needs to flush rewrite rules for new custom post types. -&#62; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Remove rewrite rules and then recreate rewrite rules. This method can be used to refresh WordPress&#8217; rewrite rule cache. Generally, this should be used after programmatically adding one or more custom rewrite rules.</p>
<p><strong>When it is necessary?</strong><br />
-&gt; Usually needs to flush rewrite rules for new custom post types.<br />
-&gt; You should only flush rules on activation or deactivation of a plugin or theme.<br />
-&gt; If you get 404 Page not found error on some pages/posts that already exist.</p>
<p>To flush WordPress rewrite rules or permalinks from the <strong>Dashboard</strong>:<br />
1: In the main menu find <strong>Settings &gt; Permalinks</strong>.<br />
2: Scroll down if needed and click &#8216;<strong>Save Changes</strong>&#8216;.<br />
3: Rewrite rules and permalinks are flushed.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
