<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Installation &amp; Updates &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/installation-updates/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Installing WordPress</title>
		<link>http://documentation.kodesolution.net/kb/installing-wordpress/</link>
		<pubDate>Sat, 15 Jul 2017 05:57:15 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=155</guid>
		<description><![CDATA[This theme requires a working version of WordPress to be installed on your server. You should always run the latest version of WordPress. If you don&#8217;t have a WordPress installed on your server, please follow the steps below to install it: Step 1 &#8211; Go to WordPress.org and download the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>This theme requires a working version of WordPress to be installed on your server. You should always run the latest version of WordPress. If you don&#8217;t have a WordPress installed on your server, please follow the steps below to install it:</p>
<p><strong>Step 1</strong> &#8211; Go to WordPress.org and download the latest version of WordPress.<br />
<strong>Step 2</strong> &#8211; Create a database for WordPress on your web server and a MySQL user with all privileges for accessing and modifying the database.<br />
<strong>Step 3</strong> &#8211; Upload the WordPress files in the desired location on your web server.<br />
<strong>Step 4</strong> &#8211; Run the WordPress installation by accessing your website in a web browser.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Downloading Theme</title>
		<link>http://documentation.kodesolution.net/kb/downloading-theme/</link>
		<pubDate>Mon, 07 Aug 2017 13:51:39 +0000</pubDate>
		<dc:creator><![CDATA[ismail]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=344</guid>
		<description><![CDATA[Download the medicale-wp-main-files.zip file from themeforest.net and unzip it. In this zip file you have everything you need: medicale-wp.zip The main theme zip file you need to upload to your WordPress in order to install Medicale. In this zip you will find the theme itself. NOTE: Do not unzip this [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Download the <strong>medicale-wp-main-files.zip</strong> file from themeforest.net and unzip it. In this <strong>zip</strong> file you have everything you need:</p>
<p><strong>medicale-wp.zip</strong><br />
The main theme zip file you need to upload to your WordPress in order to install Medicale. In this zip you will find the theme itself. NOTE: Do not unzip this file. Do not upload the entire <strong>medicale-wp-main-files.zip</strong> file you get from ThemeForest, upload ONLY <strong>medicale-wp.zip</strong></p>
<p><strong>medicale-wp-child.zip</strong><br />
Here you will find Medicale’s child theme</p>
<p><strong>import-sliders</strong><br />
All demo sliders we have used on our demo website.</p>
<p><strong>demo-content</strong><br />
All demo contents including page, post, redux options and widgets used on our demo website.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Theme Installation through WordPress</title>
		<link>http://documentation.kodesolution.net/kb/theme-installation-through-wordpress/</link>
		<pubDate>Sat, 15 Jul 2017 05:58:08 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=157</guid>
		<description><![CDATA[When you download the theme from Themeforest Marketplace, you will get an archive file in .zip extension. After getting that .zip file, unzip it. Please, follow the steps below to install your Theme. Step 1 &#8211; Login to your WordPress Dashboard. Step 2 &#8211; Go to Appearance &#62; Themes. Click [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>When you download the theme from <strong>Themeforest</strong> Marketplace, you will get an archive file in .zip extension. After getting that .zip file, unzip it. Please, follow the steps below to install your Theme.</p>
<p>Step 1 &#8211; Login to your WordPress Dashboard.<br />
Step 2 &#8211; Go to <strong>Appearance &gt; Themes</strong>. Click Install Themes tab, located at the top of the screen.<br />
Step 3 &#8211; Click Upload.<br />
Step 4 &#8211; Choose <strong>medicale-wp.zip</strong>. Do not upload the entire <strong>medicale-wp-main-files.zip</strong> file you get from ThemeForest, upload ONLY <strong>medicale-wp.zip</strong><br />
Step 5 &#8211; Wait while the theme is uploaded and installed.<br />
Step 6 &#8211; After the theme is installed click on “<strong>Activate</strong>”</p>
]]></content:encoded>
			</item>
		<item>
		<title>Installation Through FTP</title>
		<link>http://documentation.kodesolution.net/kb/installation-through-ftp/</link>
		<pubDate>Sat, 15 Jul 2017 05:59:48 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=163</guid>
		<description><![CDATA[In case you wish install the theme via FTP, proceed as follows: Unzip medicale-wp-main-files.zip file you get from themeforest.net Now unzip medicale-wp.zip file located into medicale-wp-main-files folder Login to your hosting space via an FTP Client Upload the extracted medicale-wp theme folder into wp-content &#62; themes folder and wait the [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p>In case you wish install the theme via FTP, proceed as follows:</p>
<ol>
<li>Unzip <strong>medicale-wp-main-files.zip</strong> file you get from themeforest.net</li>
<li>Now unzip <strong>medicale-wp.zip</strong> file located into <strong>medicale-wp-main-files</strong> folder</li>
<li>Login to your hosting space via an FTP Client</li>
<li>Upload the extracted <strong>medicale-wp</strong> theme folder into <strong>wp-content &gt; themes</strong> folder and wait the upload.</li>
<li>Activate the newly installed theme by going to <strong>Appearance &gt; Themes</strong> and clicking the <strong>Activate</strong> button.</li>
</ol>
</div>
</div>
]]></content:encoded>
			</item>
		<item>
		<title>Plugin Installation</title>
		<link>http://documentation.kodesolution.net/kb/plugin-installation/</link>
		<pubDate>Sat, 15 Jul 2017 06:00:11 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=165</guid>
		<description><![CDATA[For proper theme functioning, the &#8220;Mascot Core&#8221; plugin is required. Installation Instructions: 1. From your WordPress dashboard visit Appearance &#62; Install Plugins. 2. Search for &#8216;Mascot Core&#8216; and install the plugin. 3. Now activate it. 4. Once the plugin is activated you will find full features of the theme including [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>For proper theme functioning, the &#8220;<strong>Mascot Core</strong>&#8221; plugin is required.</p>
<p>Installation Instructions:<br />
1. From your WordPress dashboard visit <strong>Appearance &gt; Install</strong> Plugins.<br />
2. Search for &#8216;<strong>Mascot Core</strong>&#8216; and install the plugin.<br />
3. Now activate it.<br />
4. Once the plugin is activated you will find full features of the theme including Custom Post Types, Theme Options, Post Meta etc<br />
4. Also install all required and recommended plugins from <strong>Appearance &gt; Install</strong></p>
]]></content:encoded>
			</item>
		<item>
		<title>Child Theme Overview</title>
		<link>http://documentation.kodesolution.net/kb/child-theme-overview/</link>
		<pubDate>Sat, 15 Jul 2017 05:58:35 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=159</guid>
		<description><![CDATA[medicale’s main download folder includes a child theme. A WordPress child theme allows you to apply custom code changes to your site. Using a child theme ensures your customizations will not be overwritten, even if you update the parent theme. What is a child theme? A child theme is a [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>medicale’s main download folder includes a child theme. A WordPress child theme allows you to apply custom code changes to your site. Using a child theme ensures your customizations will not be overwritten, even if you update the parent theme.</p>
<h3 id="what-is-a-child-theme" ><strong>What is a child theme?</strong></h3>
<p>A child theme is a theme that has all the functionality and styling of another theme; referred to as the parent theme. Child themes are the recommended way of modifying the code of an existing theme, since a child theme preserves all custom code changes and modifications; even after a theme update. If you modify code directly from a parent theme, and then update the parent theme, your changes will be lost.</p>
<p>Always use a child theme when modifying core code. Child themes can also be used for custom CSS applications, template file modifications, and custom PHP functions and/or hooks. There are two ways to modify a child theme. Bear in mind that using child themes is no guarantee that an update of custom code on the parent theme will not require further maintenance.</p>
<p>To learn more about child themes, follow the links below:</p>
<ul>
<li><a href="https://codex.wordpress.org/Child_Themes" target="_blank" rel="noopener">WordPress Codex on Child Themes</a></li>
<li><a href="http://www.wpbeginner.com/wp-themes/how-to-create-a-wordpress-child-theme-video/" target="_blank" rel="noopener">How To Create A WP Child Theme video by WPBeginner.com</a></li>
</ul>
]]></content:encoded>
			</item>
		<item>
		<title>Child Theme Installation</title>
		<link>http://documentation.kodesolution.net/kb/child-theme-installation/</link>
		<pubDate>Sat, 15 Jul 2017 05:59:01 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=161</guid>
		<description><![CDATA[If you plan to modify the source code of the main parent theme (php, js, style.css) we strongly recommend to install this child theme and make such modifications inside this child theme in order to avoid any possible problems &#38; issues by installing updates of Medicale’s main parent theme in [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>If you plan to modify the source code of the main parent theme (php, js, style.css) we strongly recommend to install this child theme and make such modifications inside this child theme in order to avoid any possible problems &amp; issues by installing updates of Medicale’s main parent theme in future. You can find this child theme in folder &#8220;medicale-wp-child.zip&#8221; – pls check for medicale-wp-main-files.zip</p>
<p>The installation of the child theme works in the same way as the installation of the main parent theme (see description above).</p>
<p><strong>IMPORTANT: DON’T TRY TO INSTALL CHILD THEME IF THE MAIN THEME IS NOT INSTALLED – THIS WILL GIVE NO RESULT</strong></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
