/*
 * Shortcode: home-intro-boxes.less
 * -----------------------------------------------
*/
.home-intro-boxes,
.vc_row.home-intro-boxes {
	@media only screen and (max-width: 767px) {
		margin-top: 15px !important;
	}
}