<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Typography &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/typography/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Set Up Typography</title>
		<link>http://documentation.kodesolution.net/kb/set-up-typography/</link>
		<pubDate>Sat, 15 Jul 2017 06:07:24 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=181</guid>
		<description><![CDATA[For set up favicons just go to Theme Options -&#62; Typography and follow like bellow the image:]]></description>
				<content:encoded><![CDATA[<p>For set up <strong>favicons </strong>just go to <strong>Theme Options -&gt; Typography</strong> and follow like bellow the image:</p>
<p><img class="alignnone size-full wp-image-262" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography.jpg" alt="" width="1902" height="1030" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography.jpg 1902w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-300x162.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-768x416.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-1024x555.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-920x498.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-600x325.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/how-to-change-typography-320x173.jpg 320w" sizes="(max-width: 1902px) 100vw, 1902px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
