<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Widgets &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/widgets/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Custom Widgets</title>
		<link>http://documentation.kodesolution.net/kb/custom-widgets/</link>
		<pubDate>Sun, 06 Aug 2017 13:45:38 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=292</guid>
		<description><![CDATA[Medicale theme comes with 27 Beautiful Custom Widgets &#8211; which are very easy to use. Access them by going to Appearance &#62; Widgets in your WordPress Dashboard.]]></description>
				<content:encoded><![CDATA[<p><strong>Medicale</strong> theme comes with 27 Beautiful <strong>Custom Widgets</strong> &#8211; which are very easy to use.<br />
Access them by going to<strong> Appearance &gt; Widgets</strong> in your WordPress Dashboard.</p>
<p><img class="alignnone size-full wp-image-297" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget.jpg" alt="" width="1904" height="1023" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-300x161.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-768x413.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-1024x550.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-920x494.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-600x322.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-320x172.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
<p><img class="alignnone size-full wp-image-298" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2.jpg" alt="" width="1904" height="1012" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-300x159.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-768x408.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-1024x544.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-920x489.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-600x319.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-320x170.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Widgets Area</title>
		<link>http://documentation.kodesolution.net/kb/widgets-area/</link>
		<pubDate>Sun, 06 Aug 2017 13:48:13 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=294</guid>
		<description><![CDATA[Medicale theme has 10 different widgets area &#8211; which are very easy to use. Access them by going to Appearance &#62; Widgets in your WordPress Dashboard.]]></description>
				<content:encoded><![CDATA[<p><strong>Medicale</strong> theme has 10 different <strong>widgets area</strong> &#8211; which are very easy to use.<br />
Access them by going to <strong>Appearance &gt; Widgets</strong> in your WordPress Dashboard.</p>
<p><img class="alignnone size-full wp-image-302" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares.jpg" alt="" width="1905" height="1019" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares.jpg 1905w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-300x160.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-768x411.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-1024x548.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-920x492.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-600x321.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-320x171.jpg 320w" sizes="(max-width: 1905px) 100vw, 1905px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
