<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Footer &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/footer/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Footer Overview</title>
		<link>http://documentation.kodesolution.net/kb/footer-overview/</link>
		<pubDate>Mon, 07 Aug 2017 06:41:27 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=328</guid>
		<description><![CDATA[For Customize Header Style Just Goto: Theme Options -&#62; Footer Then just follow like bellow this screenshot:]]></description>
				<content:encoded><![CDATA[<p>For Customize Header Style Just Goto: <strong>Theme Options -&gt; Footer</strong><br />
Then just follow like bellow this <strong>screenshot</strong>:</p>
<p><img class="alignnone size-full wp-image-329" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview.jpg" alt="" width="1902" height="882" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview.jpg 1902w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-300x139.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-768x356.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-1024x475.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-50x23.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-920x427.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-600x278.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-320x148.jpg 320w" sizes="(max-width: 1902px) 100vw, 1902px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
