<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Knowledge Base  </title>
	<atom:link href="http://documentation.kodesolution.net/kb/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Downloading Theme</title>
		<link>http://documentation.kodesolution.net/kb/downloading-theme/</link>
		<pubDate>Mon, 07 Aug 2017 13:51:39 +0000</pubDate>
		<dc:creator><![CDATA[ismail]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=344</guid>
		<description><![CDATA[Download the medicale-wp-main-files.zip file from themeforest.net and unzip it. In this zip file you have everything you need: medicale-wp.zip The main theme zip file you need to upload to your WordPress in order to install Medicale. In this zip you will find the theme itself. NOTE: Do not unzip this [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Download the <strong>medicale-wp-main-files.zip</strong> file from themeforest.net and unzip it. In this <strong>zip</strong> file you have everything you need:</p>
<p><strong>medicale-wp.zip</strong><br />
The main theme zip file you need to upload to your WordPress in order to install Medicale. In this zip you will find the theme itself. NOTE: Do not unzip this file. Do not upload the entire <strong>medicale-wp-main-files.zip</strong> file you get from ThemeForest, upload ONLY <strong>medicale-wp.zip</strong></p>
<p><strong>medicale-wp-child.zip</strong><br />
Here you will find Medicale’s child theme</p>
<p><strong>import-sliders</strong><br />
All demo sliders we have used on our demo website.</p>
<p><strong>demo-content</strong><br />
All demo contents including page, post, redux options and widgets used on our demo website.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Footer Overview</title>
		<link>http://documentation.kodesolution.net/kb/footer-overview/</link>
		<pubDate>Mon, 07 Aug 2017 06:41:27 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=328</guid>
		<description><![CDATA[For Customize Header Style Just Goto: Theme Options -&#62; Footer Then just follow like bellow this screenshot:]]></description>
				<content:encoded><![CDATA[<p>For Customize Header Style Just Goto: <strong>Theme Options -&gt; Footer</strong><br />
Then just follow like bellow this <strong>screenshot</strong>:</p>
<p><img class="alignnone size-full wp-image-329" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview.jpg" alt="" width="1902" height="882" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview.jpg 1902w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-300x139.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-768x356.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-1024x475.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-50x23.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-920x427.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-600x278.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/footer-overview-320x148.jpg 320w" sizes="(max-width: 1902px) 100vw, 1902px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Header Overview</title>
		<link>http://documentation.kodesolution.net/kb/header-overview/</link>
		<pubDate>Mon, 07 Aug 2017 06:37:34 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=322</guid>
		<description><![CDATA[For Customize Header Style Just Goto: Theme Options -&#62; Header Then just follow like bellow those screenshot: Screenshot 1: Screenshot 2: Screenshot 3: Screenshot 4:]]></description>
				<content:encoded><![CDATA[<p>For Customize Header Style Just Goto: <strong>Theme Options -&gt; Header</strong><br />
Then just follow like bellow those <strong>screenshot</strong>:</p>
<p><strong>Screenshot 1:</strong></p>
<p><img class="alignnone size-full wp-image-325" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1.jpg" alt="" width="1904" height="928" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-300x146.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-768x374.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-1024x499.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-920x448.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-600x292.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview1-320x156.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
<p><strong>Screenshot 2:</strong></p>
<p><img class="alignnone size-full wp-image-326" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2.jpg" alt="" width="1918" height="968" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2.jpg 1918w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-300x151.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-768x388.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-1024x517.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-50x25.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-920x464.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-600x303.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview2-320x162.jpg 320w" sizes="(max-width: 1918px) 100vw, 1918px" /></p>
<p><strong>Screenshot 3:</strong></p>
<p><img class="alignnone size-full wp-image-323" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3.jpg" alt="" width="1901" height="925" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3.jpg 1901w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-300x146.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-768x374.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-1024x498.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-920x448.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-600x292.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview3-320x156.jpg 320w" sizes="(max-width: 1901px) 100vw, 1901px" /></p>
<p>Screenshot 4:</p>
<p><img class="alignnone size-full wp-image-324" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4.jpg" alt="" width="1904" height="896" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-300x141.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-768x361.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-1024x482.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-50x24.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-920x433.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-600x282.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/header-overview4-320x151.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Flush Rewrite Rules</title>
		<link>http://documentation.kodesolution.net/kb/flush-rewrite-rules/</link>
		<pubDate>Mon, 07 Aug 2017 06:12:15 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=320</guid>
		<description><![CDATA[Remove rewrite rules and then recreate rewrite rules. This method can be used to refresh WordPress&#8217; rewrite rule cache. Generally, this should be used after programmatically adding one or more custom rewrite rules. When it is necessary? -&#62; Usually needs to flush rewrite rules for new custom post types. -&#62; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Remove rewrite rules and then recreate rewrite rules. This method can be used to refresh WordPress&#8217; rewrite rule cache. Generally, this should be used after programmatically adding one or more custom rewrite rules.</p>
<p><strong>When it is necessary?</strong><br />
-&gt; Usually needs to flush rewrite rules for new custom post types.<br />
-&gt; You should only flush rules on activation or deactivation of a plugin or theme.<br />
-&gt; If you get 404 Page not found error on some pages/posts that already exist.</p>
<p>To flush WordPress rewrite rules or permalinks from the <strong>Dashboard</strong>:<br />
1: In the main menu find <strong>Settings &gt; Permalinks</strong>.<br />
2: Scroll down if needed and click &#8216;<strong>Save Changes</strong>&#8216;.<br />
3: Rewrite rules and permalinks are flushed.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Regenerate Thumbnails</title>
		<link>http://documentation.kodesolution.net/kb/regenerate-thumbnails/</link>
		<pubDate>Mon, 07 Aug 2017 06:10:56 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=318</guid>
		<description><![CDATA[Regenerate Thumbnails allows you to regenerate the thumbnails for your image attachments. This is very handy if you&#8217;ve changed any of your thumbnail dimensions (via Settings -&#62; Media) after previously uploading images or have changed to a theme with different featured post image dimensions. You can either regenerate the thumbnails [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Regenerate Thumbnails allows you to regenerate the thumbnails for your image attachments. This is very handy if you&#8217;ve changed any of your <strong>thumbnail</strong> dimensions (via <strong>Settings -&gt; Media</strong>) after previously uploading images or have changed to a theme with different featured post image dimensions.</p>
<p>You can either regenerate the thumbnails for all image uploads, individual image uploads, or specific multiple image uploads.</p>
<p>See the Screenshots Tab for more details.</p>
<p>Installation and Usage Method:<br />
1. Go to your admin area and select <strong>Plugins -&gt; Add new</strong> from the menu.<br />
2. Search for <strong>&#8216;Regenerate Thumbnails&#8217;</strong>.<br />
3. Click <strong>install</strong>.<br />
4. Click <strong>activate</strong>.<br />
5. Go to <strong>Tools &gt; Regen</strong>. Thumbnails<br />
6. Click &#8220;<strong>Regenerate All Thumbnails</strong>&#8221; button and let the process to finish till it reaches 100 percent.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Mascot Core Plugin</title>
		<link>http://documentation.kodesolution.net/kb/mascot-core-plugin/</link>
		<pubDate>Mon, 07 Aug 2017 06:10:27 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=316</guid>
		<description><![CDATA[For proper theme functioning, the &#8220;Mascot Core&#8221; plugin is required. Installation Instructions: 1. From your WordPress dashboard visit Appearance &#62; Install Plugins. 2. Search for &#8216;Mascot Core&#8216; and install the plugin. 3. Now activate it. 4. Once the plugin is activated you will find full features of the theme including [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>For proper theme functioning, the &#8220;<strong>Mascot Core</strong>&#8221; plugin is required.</p>
<p>Installation Instructions:<br />
1. From your WordPress dashboard visit <strong>Appearance &gt; Install Plugins</strong>.<br />
2. Search for &#8216;<strong>Mascot Core</strong>&#8216; and install the plugin.<br />
3. Now <strong>activate</strong> it.<br />
4. Once the plugin is activated you will find full features of the theme including Custom Post Types, Theme Options, Post Meta etc.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Custom Post Types Overview</title>
		<link>http://documentation.kodesolution.net/kb/custom-post-types-overview/</link>
		<pubDate>Mon, 07 Aug 2017 04:46:13 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=309</guid>
		<description><![CDATA[Step 1 – Log in to your WordPress Administration Panel (Dashboard). Step 2 – Click the ‘Custom-post‘ tab. Step 3 – Click the ‘Add New‘ sub-tab. Step 4 – Fill all the fields as your requirement Step 5 – Finally click publish button for publishing your post.]]></description>
				<content:encoded><![CDATA[<p><strong>Step 1</strong> – Log in to your WordPress Administration Panel (Dashboard).<br />
<strong>Step 2</strong> – Click the ‘<strong>Custom-post</strong>‘ tab.<br />
<strong>Step 3</strong> – Click the ‘<strong>Add New</strong>‘ sub-tab.<br />
<strong>Step 4</strong> – Fill all the fields as your requirement<br />
<strong>Step 5</strong> – Finally <strong>click publish</strong> button for publishing your post.</p>
<p><img class="alignnone size-full wp-image-310" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type.jpg" alt="" width="1904" height="1005" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-300x158.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-768x405.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-1024x541.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-50x26.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-920x486.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-600x317.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-320x169.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Shortcode Overview</title>
		<link>http://documentation.kodesolution.net/kb/shortcode-overview/</link>
		<pubDate>Sun, 06 Aug 2017 15:19:21 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=304</guid>
		<description><![CDATA[&#8216;Medicale&#8217; Theme provides almost 23 shortcodes those are very easy to use.]]></description>
				<content:encoded><![CDATA[<p><strong>&#8216;Medicale&#8217;</strong> Theme provides almost <strong>23 shortcodes</strong> those are very easy to use.</p>
<p><img class="alignnone size-full wp-image-307" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview.jpg" alt="" width="1903" height="939" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview.jpg 1903w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-300x148.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-768x379.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-1024x505.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-50x25.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-920x454.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-600x296.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/shortcodes-overview-320x158.jpg 320w" sizes="(max-width: 1903px) 100vw, 1903px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Widgets Area</title>
		<link>http://documentation.kodesolution.net/kb/widgets-area/</link>
		<pubDate>Sun, 06 Aug 2017 13:48:13 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=294</guid>
		<description><![CDATA[Medicale theme has 10 different widgets area &#8211; which are very easy to use. Access them by going to Appearance &#62; Widgets in your WordPress Dashboard.]]></description>
				<content:encoded><![CDATA[<p><strong>Medicale</strong> theme has 10 different <strong>widgets area</strong> &#8211; which are very easy to use.<br />
Access them by going to <strong>Appearance &gt; Widgets</strong> in your WordPress Dashboard.</p>
<p><img class="alignnone size-full wp-image-302" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares.jpg" alt="" width="1905" height="1019" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares.jpg 1905w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-300x160.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-768x411.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-1024x548.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-920x492.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-600x321.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/widget-ares-320x171.jpg 320w" sizes="(max-width: 1905px) 100vw, 1905px" /></p>
]]></content:encoded>
			</item>
		<item>
		<title>Custom Widgets</title>
		<link>http://documentation.kodesolution.net/kb/custom-widgets/</link>
		<pubDate>Sun, 06 Aug 2017 13:45:38 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=292</guid>
		<description><![CDATA[Medicale theme comes with 27 Beautiful Custom Widgets &#8211; which are very easy to use. Access them by going to Appearance &#62; Widgets in your WordPress Dashboard.]]></description>
				<content:encoded><![CDATA[<p><strong>Medicale</strong> theme comes with 27 Beautiful <strong>Custom Widgets</strong> &#8211; which are very easy to use.<br />
Access them by going to<strong> Appearance &gt; Widgets</strong> in your WordPress Dashboard.</p>
<p><img class="alignnone size-full wp-image-297" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget.jpg" alt="" width="1904" height="1023" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-300x161.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-768x413.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-1024x550.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-920x494.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-600x322.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget-320x172.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
<p><img class="alignnone size-full wp-image-298" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2.jpg" alt="" width="1904" height="1012" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-300x159.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-768x408.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-1024x544.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-50x27.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-920x489.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-600x319.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-widget2-320x170.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
