/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot
----------------------------------------- */
/*
 * rtl.less
 * -----------------------------------------------
*/

html,
body { direction: rtl; }

html[dir="rtl"] {

	/* breadcrumb */
	.breadcrumb {
		> li + li::before {
			content: "";
			padding: 0;
		}
		> li + li::after {
			content: "\f053";
			font-family: fontawesome;
			color: #aaa;
			font-size: 8px;
			padding: 0 10px;
		}
	}

	.btn-read-more::after {
		content: "\f177";
	}


	/* widget */
	.widget {
		&.widget_pages ul li a::before,
		&.widget_recent_entries ul li a::before,
		&.widget_categories ul li a::before,
		&.widget_meta ul li a::before,
		&.widget_archive ul li a::before,
		&.widget_nav_menu ul li a::before {
			content: "\f104";
		}
		&.widget_recent_comments {
			ul {
				> li  {
					&::before {
						content: "\f104";
						padding-left: 5px;
					}
				}
			}
		}
	}
}
