<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Custom Post Types &#8211; Online Documentation</title>
	<atom:link href="http://documentation.kodesolution.net/article-categories/custom-post-types/feed/" rel="self" type="application/rss+xml" />
	<link>http://documentation.kodesolution.net</link>
	<description>KodeSolution</description>
	<lastBuildDate>Mon, 07 Aug 2017 14:19:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>
	<item>
		<title>Custom Post Types Overview</title>
		<link>http://documentation.kodesolution.net/kb/custom-post-types-overview/</link>
		<pubDate>Mon, 07 Aug 2017 04:46:13 +0000</pubDate>
		<dc:creator><![CDATA[jakaria]]></dc:creator>
		
		<guid isPermaLink="false">http://documentation.kodesolution.net/?post_type=ht_kb&#038;p=309</guid>
		<description><![CDATA[Step 1 – Log in to your WordPress Administration Panel (Dashboard). Step 2 – Click the ‘Custom-post‘ tab. Step 3 – Click the ‘Add New‘ sub-tab. Step 4 – Fill all the fields as your requirement Step 5 – Finally click publish button for publishing your post.]]></description>
				<content:encoded><![CDATA[<p><strong>Step 1</strong> – Log in to your WordPress Administration Panel (Dashboard).<br />
<strong>Step 2</strong> – Click the ‘<strong>Custom-post</strong>‘ tab.<br />
<strong>Step 3</strong> – Click the ‘<strong>Add New</strong>‘ sub-tab.<br />
<strong>Step 4</strong> – Fill all the fields as your requirement<br />
<strong>Step 5</strong> – Finally <strong>click publish</strong> button for publishing your post.</p>
<p><img class="alignnone size-full wp-image-310" src="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type.jpg" alt="" width="1904" height="1005" srcset="http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type.jpg 1904w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-300x158.jpg 300w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-768x405.jpg 768w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-1024x541.jpg 1024w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-50x26.jpg 50w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-920x486.jpg 920w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-600x317.jpg 600w, http://documentation.kodesolution.net/wp-content/uploads/2017/08/custom-post-type-320x169.jpg 320w" sizes="(max-width: 1904px) 100vw, 1904px" /></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
