/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot
----------------------------------------- */
/*
 * rtl.less
 * -----------------------------------------------
*/
html,
body {
  direction: rtl;
}
html[dir="rtl"] {
  /* breadcrumb */
  /* widget */
}
html[dir="rtl"] .breadcrumb > li + li::before {
  content: "";
  padding: 0;
}
html[dir="rtl"] .breadcrumb > li + li::after {
  content: "\f053";
  font-family: fontawesome;
  color: #aaa;
  font-size: 8px;
  padding: 0 10px;
}
html[dir="rtl"] .btn-read-more::after {
  content: "\f177";
}
html[dir="rtl"] .widget.widget_pages ul li a::before,
html[dir="rtl"] .widget.widget_recent_entries ul li a::before,
html[dir="rtl"] .widget.widget_categories ul li a::before,
html[dir="rtl"] .widget.widget_meta ul li a::before,
html[dir="rtl"] .widget.widget_archive ul li a::before,
html[dir="rtl"] .widget.widget_nav_menu ul li a::before {
  content: "\f104";
}
html[dir="rtl"] .widget.widget_recent_comments ul > li::before {
  content: "\f104";
  padding-left: 5px;
}
